<div class="row">
<p>
  <strong>Channel:</strong>
  <%= @question.channel.name %>
</p>
<p>
  <strong>Post:</strong>
  <%= @question.try(:post).try(:name) %>
</p>

<p>
  <strong>Contents:</strong>
  <%= raw @question.contents %>
</p>

<p>
  <strong>Asked by:</strong>
  <%= @question.user.email %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>