<% channels.each do |channel| %>
	<li class="">
		<div class="white-backgrnd">
			<div class="row pad-1">
				<div class="large-12 columns">
					<div class="text-center">
						<h4>
							<%= link_to channel.name, channel_path(channel) %>
							<%= link_to '', edit_channel_path(channel), class: 'fa fa-pencil-square-o', title: 'Edit' %>
						</h4>
						<%= link_to image_tag(channel.try(:image) || 'no-image.jpg', height: 175, width: 175), channel_posts_path(channel), class: 'th', title: channel.name %>
					</div>
				</div>				
			</div> 
			<div class="row user-stats">
				<div class="small-6 columns">
					<%= channel.posts.size %><br>
					Posts
				</div>
				<div class="small-6 columns">
					<%= channel.subscriptions.size %><br>
					Followers
				</div>
			</div>
		</div>
	</li>
<% end %>
