%div
  %h5
    Channel Topics:
  - if tags.present?
    %ul.no-bullet
      - tags.each do |tag|
        %li{style: "padding-bottom: 5px" }
          = link_to tag.name, tag_path(tag.name), class:"label success round"
  - else
    %small
      No Topics.
