= render 'channels/cover_img_style', channel: channel 
.row.collapse
  .intro-text.ch-image
  .large-3.medium-3.columns.pad-1.white-backgrnd
    %div{style: "margin-left: 5em;"}
      %strong= channel.name
      - if can? :update, channel
        = link_to '', edit_channel_path(channel), class: 'fa fa-pencil-square-o', title: 'Edit'
  .large-9.medium-9.columns.text-center.white-backgrnd
    %ul.sub-nav.no-bullet{:style => "padding-top: 20px"}
      %li
        = link_to 'About', channel_path(channel)
      %li
        = link_to 'Posts', channel_posts_path(channel), remote: (ajax rescue true)
      %li
        - if user_signed_in?
          = link_to 'Following', followers_channel_path(channel), remote: (ajax rescue true)
        - else
          %a{id: 'sign_in_dialog', href: 'javascript:void(0)', 'data-reveal-id' =>"sign_in_modal"}
            Following
      %li
        = render 'channels/subscription', channel: channel
