<style media="screen">
  .ch-image { 
    background: url(<%= channel.image || 'no-image.png' %>) no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 100% 100%;
    padding: 3em;
    /* background-position: 50% 50%; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  }
  /* .ch-us-img {
    background: url(<%= channel.user.try(:profile).try(:avatar) %>) no-repeat center center;
    background-size: cover;
    height: 5em;
    width: 5em;
    display: block;
    margin: 0 auto;
    margin-bottom: -50px;
  } */
</style>
