.panel.white-backgrnd  
  %header
    - header = params[:action] == 'edit' ? 'edit' : 'new'
    = header.concat(' channel').titleize
  = semantic_form_for(@channel) do |f|
    = f.input :name, label: false, placeholder: 'Title'
    = f.input :description,label: false, input_html: { rows: 3, cols: 50, maxlength: 250},placeholder: 'Description', as: :text
    = f.input :channel_type_id, as: :select, collection: ChannelType.pluck(:title, :id),label_method: :id ,label:false, prompt: 'Please Select a Category'
    .row.collapse
      .small-3.columns
        %strong Add Image
      .small-9.columns
        = f.input :image, as: :file,label: false, input_html: {class: 'fa-file-image-o', value: ''}
        = f.hidden_field :image_cache
        - if f.object.try(:image).present?
          = image_tag(f.object.image, height: '150', width: '150', class: 'th')
    .action
      = f.submit 'Create Channel', class: 'button tiny radius'
      %a{href: "/home/", class: "link-gray text-small", style: 'margin-left: 1em; font-style: italic'}
        Nevermind

