<div class="panel" >
	<img src="http://zurb.com/ink/images/inky-computer.svg" alt="Inky" class="round-img margin-1 white-backgrnd"  >
  <strong> <%= channel.user.email %></strong>
  <br>
  <div class="row collapse user-stats">
  	<div class="small-4 columns">
  		<div>
	  		<a href="javascript:void(0)">
					<h5 class="text-center">1</h5>
					Comment
				</a>
  		</div>
  		
  	</div>
  	<div class="small-4 columns">
  		<div>
	  		<a href="javascript:void(0)">
					<h5 class="text-center">
						<%= channel.subscriptions.size %>
					</h5>
					Subscribers
				</a>
  		</div>
  	</div>
  	<div class="small-4 columns">
  		<div>
	  		<a href="javascript:void(0)">
					<h5 class="text-center">
						<%= channel.user.following.size %>
					</h5>
					Following User
				</a>
  		</div>
  	</div>
  </div>
</div>
<!-- this adds Foundation Icon Fonts!! -->

<!--     <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
 -->