%header.white-backgrnd{style: 'padding: 5px'}
  = link_to channel.name, channel_path(channel)
%article.article-card
  .image-wrapper.overlay-slide-in-left
    .card-img
      = image_tag(channel.try(:image).try(:medium) || 'no-image.jpg', alt: channel.fetch_title)
    .image-overlay-content
      = raw([channel.description[0..105], "... <br> <a href: #{channel_path(channel)}> <i> Read More...</i> </a>"].join)
  .white-backgrnd
    .article-content{style: 'padding-top: 1em;'}
      .row.collapse.user-stats
        .small-4.columns
          .text-center
            = channel.posts.size
          %span Posts
        .small-4.columns
          .text-center
            = channel.subscriptions.size
          %span Followers
        .small-4.columns
          %small
            %span= render 'channels/subscription', channel: channel, label: 'Following'
