<div class="white-backgrnd channel rules" style="padding-left: 1em">
	<header style='border-bottom: 1px solid #ddd;'>
		<h5> Channel Rules </h5>
	</header>
	<div class="text-small post-rules">
		<h5>Rules</h5>
		<ol class="list-num spacing-bottom">
		<li>Stay On-topic</li>
		<li>No Self-promotion</li>
		<li>Choose Your (Curse) Words Wisely</li>
		<li>Don’t Be a Jerk</li>
		<li>English Only</li>
		</ol>
				<h5>Stay On-topic</h5>
		
		<p>
		Be sure your topic matches the general theme of the channel. For example, all discussions on should pertain to educational. Not sure if you’re posting to the right channel? Check the channel’s About section, or recently-added discussions to get an idea of what subjects are appropriate.
		</p>
		
		<h5>No Self-promotion</h5>
		
		<p>A discussion or comment that contains only a link to your blog, a product, or your article on another site will almost always be removed.</p>
				<h5>Choose Your (Curse) Words Wisely</h5>
		
		<p>Comments that contain profanity are automatically held for moderator review before being posted. Depending on the context of the comment, it may be removed. Profanity used to insult, antagonize, or inflame will always be removed.</p>
				<h5>Don’t Be a Jerk</h5>
		
		<p>Personal attacks and harassment will not be tolerated. Sexist, racist, misogynist, homophobic, and broad, offensive generalizations about groups of people are simply not allowed. Comments or discussions written intentionally to provoke will also be removed.</p>
			<h5>English Only</h5>
		<p>We currently only support English-only discussions on Disqus channels. Non-English comments and discussions will be removed.</p>
		<p>
			<em>
				Have questions about these rules? Think we’ve missed something? Email us at
			</em>
		</p>
	</div>
</div>
