- if current_user && channel.user_id != current_user.try(:id)
	- following = current_user.subscribed?(channel.id)
	%div{id: "follow-group-#{channel.id}", class: "#{following ? 'show' : 'hide'}"}
		&nbsp;
		- @label = label rescue nil
		- unless @label.nil?
			= link_to label, 'javascript:void(0)',	 remote: true, method: :post,class: 'label tiny success radius' 
			- if action_name == 'manage_subscriptions'
				&nbsp;
				= link_to 'Unsubscribe', unfollow_channel_path(channel),	 remote: true, method: :post, class: 'label tiny radius'
		- else
			= link_to 'Unsubscribe', unfollow_channel_path(channel),	 remote: true, method: :post, class: 'label tiny success radius'
		&nbsp; 
	%div{id: "subscribe-group-#{channel.id}", class: "#{following ? 'hide' : 'show'}"}
		= link_to 'Follow', subscribe_channel_path(channel), remote: true, method: :post, class: 'label radius'
- elsif current_user && channel.user_id == current_user.try(:id)
	= link_to 'Add Post', 
	new_post_path(channel_id: channel.slug), class: 'label success radius'
- else
	%a{id: 'sign_in_dialog', href: 'javascript:void(0)', 'data-reveal-id' =>"sign_in_modal"}
		%i.label.radius
			Follow
	.reveal-modal.small#sign_in_modal{'data-reveal' => '', 'aria-labelledby'=> 'modalTitle','aria-hidden'=>'true', role: 'dialog'}
		%a.close-reveal-modal{'aria-label'=>'Close'}
			&#215;
		.pad-1{style: "color: white"}
			= render "devise/shared/login", ajax: true
