<%= render 'channel_cover', channel: @channel %>
<div class="row full-width" style="padding-top: 1em;" >
	<div class='large-2 medium-2 columns white-backgrnd show-for-large-only'>	
		<%= render 'channel_tags', tags: @channel.tags, channel: @channel%>
	</div>
  <div class="large-7 medium-9 columns no-bullet">
		<%= render 'form' %>
	</div>
	<div class="large-3 columns">
		<%= render 'rules'%>
	</div>
</div>
