= stylesheet_link_tag('slick.css', 'slick-theme.css')
= content_for :js do
	= javascript_include_tag('slick.min.js', 'explore_channels.js')
.row{style: 'padding-top: 1em;'}
	- if @channel_types.size.nonzero?
		.explore-category.channel
			.slider-nav
				- @channel_types.each do |ct|
					%medium
						= link_to ct.title, channels_path(type: ct), remote: true, class: 'button tiny'
			.slider-for.text-center
				- @channel_types.each do |ct|
					= link_to ct.title, channels_path(type: ct), remote: true, class: 'button small radius'
		.explore-channel
			Please choose a category from the above slider and click the button to bring the buttons
	- else
		.row.text-center.pad-1
			No channels to browse. Contact administrator.
