= render 'channel_cover', channel: @channel
.row.pad-1
  .large-2.columns.white-backgrnd.show-for-large-only
    = render 'channel_tags', tags: @tags, channel: @channel
  .large-7.medium-8.columns.no-bullet#ch_content
    = render 'channels/followers_ajax', users: @followers
  .large-3.medium-4.columns.hide-for-small-only
    .author.text-center{style: "margin-left: -1em;"}
      = render 'users/author', user: @channel.user, author: true
    %div{style: "margin-left: -1em; padding-bottom: 1em;"}
      = render 'users/contributors', contributors: @contributors

