 <div class="row full-width">
	<div class="large-9 columns pad-1" style="border-right: 1px solid #fff;">
		<ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1 ">
      <%= render 'home/home_ex_channel', channels: @channels %>
    </ul>
	</div>
	<div class="large-3 columns">
		<aside> 
			<br>
			<%= render 'rules' %>
		</aside>
	</div>
</div>
