<%= javascript_include_tag('channels.js')%>
<div class='text-center'>
	<h5>Start a discussion</h5>
	<input type="text" name="" id='channel_search' placeholder="Search Channels" >
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<br>
<ul id='channel_list' class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
	<% @channels.each do |channel| %>
		<li>
	    <div class="card" style="border: 1px solid #ddd">
	      <%= link_to image_tag(channel.try(:image) || 'no-image.jpg', height: '350', width: '200'), new_post_path(channel_id: channel) %>
	      <div class="content text-center">
	        <span class="title"><%= channel.name %></span>
	        <p><%= channel.description[0..25] %></p>
	      </div>
	    </div> 
		</li>
	<% end %>
	<li>
		<div class='card' style="border: 1px solid #ddd">
			<%= link_to image_tag('channel-new.png', height: '350', width: '200'), new_post_path %>
			<div class="content">
				<span class="title">Couldn't find suitable Channel</span>
        <p>Create your own channel</p>
      </div>	
		</div>
	</li>
</ul>
