<div class="full-width white-backgrnd">
	<div class="row">
		<div class='large-12 columns'>
			<div class="modal-content">
				<div data-role="content">
					<div class="text-center">
						<h3 class="text-center" style='color: #2ba6cb'><strong>Creating a Channel</strong></h3>
					</div>
					<div class="row collapse">
						<div class="large-5 medium-5 columns hide-for-small" style="margin-left: -3em">
							<img src="/assets/channel_reno.gif" width="350">
						</div>
						<div class="large-5 columns show-for-small">
							<img src="/assets/channel_reno.gif" width="350">
						</div>
						<div class="large-6 medium-6 columns end white-backgrnd no-bullet">
								<strong><i>Things you should know before diving in
								</i></strong>
								<div>
									<p class="spacing-bottom">
										A channel is a place for anyone to start a discussion around certain topics like 
										<a target="_blank" href="/home/channel/hashbrownparty/">food</a> or <a target="_blank" href="/home/channel/plotthreads/">movies</a>. It's your own little corner of the internet.
										<a href="/home/explore/" target="_blank">See all channels.</a>
										A channel thrives based on how much its creator and mods put into them. Make sure you start discussions that others will want to join. It'll be worth it.
										Most importantly: a channel should be fun. It's a place to connect with other like-minded people. Always remember that.
									</p>
								</div>
								<div>
									<p class="spacing-default">
										Got it! Let's create a channel.
									</p>
									<%= render 'form' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	  
		<!-- <div class="large-3 columns">
			<%= render 'rules'%>
		</div> -->
	</div>
</div>
