<%= render 'channel_cover', channel: @channel %>
<div class="row" style='padding-top: 1em' >
	<div class='large-2 columns white-backgrnd show-for-large-only'>
		<div style="padding-top: 1em;">
			<%= render 'channel_tags', tags: @tags, channel: @channel%>
		</div>
	</div>
  <div id='ch_content' class="large-7 medium-8 columns no-bullet">
		<div class='panel white-backgrnd'>
			<header>
				<%= raw @channel.fetch_title %>	
				<small>
          created by
          <%= @channel.user.try(:user_name) %>
          <%= time_ago_in_words(@channel.updated_at) %>
          ago
        </small>
			</header>
			<hr>
			<div class="content">
				<%= raw @channel.description %>	
			</div>
		</div>
	</div>
	<div class="large-3 medium-4 columns hide-for-small-only">
		<div class="author text-center" style="margin-left: -1em;">
			<%= render 'users/author', user: @channel.user, author: true %>
		</div>
		<div style="margin-left: -1em; padding-bottom: 1em;">
			<%= render 'users/contributors', contributors: @contributors %>
		</div>
		<div class="show-for-medium-only" style="margin-left: -1em; padding-left: 1em;padding-top: 1em">
			<%= render 'channel_tags', tags: @tags, channel: @channel%>
		</div>	
	</div>
</div>

