%h1 Listing institutions

%table
  %thead
    %tr
      %th Name
      %th Code
      %th
      %th
      %th

  %tbody
    - @institutions.each do |institution|
      %tr
        %td= institution.name
        %td= institution.code
        %td= link_to 'Show', institution
        %td= link_to 'Edit', edit_institution_path(institution)
        %td= link_to 'Destroy', institution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Institution', new_institution_path
