= semantic_form_for @message do |f|
	.panel
		= f.input :recipient_id, as: :string, label: false, placeholder: 'To'
		= f.input :subject, label: false, placeholder: 'Subject'
		= f.input :body, label: false, placeholder: 'Message Body', input_html: {rows: 5, cols: 20}
		= link_to 'Preview', 'javascript:void(0)', class: 'button tiny radius', 'data-reveal-id' => "myModal", id: 'preview'
		= f.submit 'Send', class: 'button tiny radius success'
		= link_to 'Cancel', messages_path, class: 'button tiny radius secondary'


%div#myModal.reveal-modal{'data-reveal' => '', 'aria-labelledby' =>"modalTitle", 'aria-hidden' => "true", 'role' => "dialog"}
	#modalTitle
		To:
		%span.receiver
			No receiver
	.panel
		Subject:
		%span#subject
			Empty
	.panel
		Message:
		%span#msg_body
			Empty
	%a.close-reveal-modal{'aria-label'=>"Close?"} 
		&#215;
