%ul.side-nav.hide-for-small
	%li
		= link_to 'Compose', new_message_path, class: 'button tiny success'
	%li{style: 'border-bottom: 1px solid #ddd'}
		= link_to 'Inbox', messages_path(user_name: current_user.user_name || current_user)
	%li{style: 'border-bottom: 1px solid #ddd'}
		= link_to 'Sent', messages_path(user_name: current_user.user_name || current_user, sent: true)

%dl.sub-nav.show-for-small
	%dt
		%h6
			%small= link_to 'Compose', new_message_path
	%dt.active
		%h6
			%small= link_to 'Inbox', messages_path(user_name: current_user.user_name || current_user)
	%dt
		%h6
			%small= link_to 'Sent', messages_path(user_name: current_user.user_name || current_user, sent: true)
