%br
.row
  .large-2.columns{style: 'border-right: 2px solid #ddd'}
    = render 'side_nav'
  .large-10.columns
    %div{style: 'border-bottom: 1px solid #ddd'}
      = paginate @messages
    - @messages.each do |mes|
      .msg{style: 'border-bottom: 1px solid #ddd; padding: 1em;'}
        %a{href: message_path(user_name: current_user.user_name, id: mes, sent: params[:sent])}
          = mes.sender.user_name
          &nbsp;&nbsp;&nbsp;&nbsp;
          = mes.subject
          .actions.right
            = link_to '', message_path(user_name: current_user.user_name, id: mes),class: 'fa fa-trash', method: :delete, data: { confirm: 'Are you sure?' }

        
  

