%br
.row
	.large-2.columns{style: 'border-right: 2px solid #ddd'}
		= render 'side_nav'
	.large-10.columns
		%ul.no-bullet{style: 'border: 1px solid #ddd; padding: 1em;'}
			%li
				= "From: #{@message.sender.user_name}"
			%li
				= "To: #{@message.receiver.user_name}"
			%li
				= "Subject: #{@message.subject}"
			%li
				= raw @message.body
