.row
	%div
		%h3
			= @profile.try(:full_name) || 'Not yet added'
		= link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook
		= link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook
		= link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook 
		%h4
			%small
				Member for #{time_ago_in_words(@user.created_at)}
		%h4
			%small
				Written #{@user.posts.size} post
		%h4
			%small
				Following #{@user.following.size} people
		%h4
			%small
				Subscribed #{@user.my_subscriptions.size} channels
		%h4
			%small
				#{@user.followers.size} people follow him
