%ul.large-block-grid-3.small-block-grid-1.medium-block-grid-3
	- posts.each do |post|
		%li
			- likes = post.votes.select(&:vote_flag).size
			- dislikes = post.votes.reject(&:vote_flag).size
			.white-backgrnd.post-list{style: 'border: 1px solid #ddd'}
				.post-container
					%header#post_id{value: post.id, style: 'border-bottom: 1px solid #ddd; padding-top: 0.5em;'}
						= link_to post.name, post_path(post)
						%small.right
							from
							= post.postable.fetch_title
							= time_ago_in_words(post.updated_at)
							ago
						-# if current_user
							%a{"data-dropdown" => "hover-#{post.id}", "data-options" => "is_hover:true; hover_timeout:100", :href => "javascript:void(0)", style: 'float:right'}
								%i.fa.fa-navicon
							%ul.f-dropdown{"data-dropdown-content" => "", :id => "hover-#{post.id}"}
								%li
									= render 'channels/subscription', channel: post.postable
					%ul.inline
						- post.tags.each do |tag|
							%li.label.secondary
								= raw link_to tag.name, tag_path(tag.name)  
					.thumbnail.show-for-small
						= image_tag(post.try(:post_images).try(:first).try(:image) || 'oogway-wifi.png', height: '150', width: '180', class: 'th')
					%div
						%p.hide-for-small= raw post.description[0..150]
						%br
						%i.fa.fa-thumbs-up{title: 'likes'}= likes
						&nbsp;
						%i.fa.fa-thumbs-down{title: 'dislikes'}= dislikes
						&nbsp;
						%i.fa.fa-comments{title: 'comments'}= post.comments.size
						%br
						- if post.post_images.present?
							For images and attachments. 
							= link_to 'click here', post_path(post)
	          

-# if @posts.present?
	%div
		= paginate @posts

