<%= semantic_form_for @profile do |f| %>
  Basic Information
  <hr>
  <div class='row collapse'>
    <div class="large-4 medium-5 columns">
      <%= f.input :first_name, label: false, placeholder: 'First Name' %>
    </div>
    <div class="large-4 medium-5 columns end" style="margin-left: 5px">
      <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
    </div>  
  </div>
  <% if f.object.try(:avatar).present? %>
    <%= image_tag(f.object.try(:avatar).try(:small)) %>
  <% end %>
  <%= f.input :avatar, as: :file %>
  <%= f.hidden_field :avatar_cache %>
  <%= f.input :about, placeholder: 'Little bit about yourself, what you want to pursue in oogway'%>
  
  <%= f.input :interested_in, as: :select, 
    collection: Interest.pluck(:name, :name), multiple: true%>
  <br>
  <%= f.input :skill_list, as: :select, 
    collection: Skill.pluck(:name, :name), multiple: true%>
  <br>
  <%= f.submit 'Submit', as: :input, class: 'button tiny radius success'%>
  <%= link_to 'Back', posts_path %>
<% end %>
