%div{:style => "border: 1px solid #ddd;"}
  - if @user
    %div.text-center
      - if @user && @user.profile && @user.profile.avatar.present?
        = image_tag(@user.profile.avatar, class: "th")
      - else
        = image_tag('bvs.jpg', class: "th")
    
    /.row.collapse.white-backgrnd.user-stats
    /  .small-4.columns
    /    %div{:style => "border-right: 1px solid #ddd;"}
    /      %a{:style => "text: white"}
    /        %h5.text-center= @user.posts.size
    /        %span Posts
    /  .small-4.columns
    /    %div{:style => "border-right: 1px solid #ddd;"}
    /      %a{:href => "javascript:void(0)"}
    /        %h5.text-center
    /          = @user.followers.size
    /        %span Followers
    /  .small-4.columns
    /    %div{:style => "border-right: 1px solid #ddd;"}
    /      %a{:href => "javascript:void(0)"}
    /        %h5.text-center
    /          = @user.following.size
    /        %span Following
  
-#%div{style: 'padding-top: 1em'}
  %ul.side-nav.white-backgrnd
    %li
      = link_to 'Profile', profiles_path
    %li
      = link_to 'Profile', profiles_path
    %li
      = link_to 'Profile', profiles_path
    %li
      = link_to 'Profile', profiles_path
    %li
      = link_to 'Profile', profiles_path
%br
