.row.white-backgrnd
  %h4 Education
  %br
  %ul.large-block-grid-2
    %li
      School
      %hr{style: 'width:75%'}
        - if @profile.school_details.blank? && @profile.user == current_user
          %a{href: new_school_detail_path(@profile)}
            Add School Details 
        - @profile.school_details.each do |sd|
          = sd.std 
          \in 
          = sd.name
          = link_to_if current_user && @profile.user == current_user, '', edit_school_detail_path(@profile, sd), class: 'fa fa-pencil-square-o', title: 'Edit'
    %li
      School Projects
      %hr{style: 'width:75%'}
  %ul.large-block-grid-2
    %li
      College
      %hr{style: 'width:75%'}
        - if @profile.user == current_user
          %a{href:new_college_detail_path(@profile)}
            Add College
          %br
        - @profile.college_details.each do |cd|
          = cd.degree
          = cd.college.name
          = cd.college.location
          = link_to_if  @profile.user == current_user, '', edit_college_detail_path(@profile, cd), class: 'fa fa-pencil-square-o', title: 'Edit'
        
    %li
      College Projects
      %hr{style: 'width:75%'}
.row
  %h4 Work Experience
  %hr
  %ul.large-block-grid-2
    %li
      Company details
      %hr{style: 'width:75%'}
        - if @profile.user == current_user
          %a{"data-reveal-ajax" => "true", "data-reveal-id" => "profile_model", href: new_experience_path(@profile)}
            Add Experience
        %br
        - @profile.experiences.each do |exp|
          = exp.company_name
          = distance_of_time_in_words(exp.from, exp.to)
          =# link_to_if current_user && @profile.user == current_user, '', edit_experience_path(current_user.try(:user_name), exp), class: 'fa fa-pencil-square-o', title: 'Edit'
          %br
    %li
      Projects worked on
      %hr{style: 'width:75%'}
.row
  %h4 Achievements
  %hr
  %ul.large-block-grid-2
    %li
      - @profile.achievements.each do |ach|
        = ach.title
        = ach.description
        %br
.row
  %h4 @ Oogway
  %hr
  %ul.large-block-grid-3
    %li
      Posts
      %hr{style: 'width:75%'}
      %div
      %ul.no-bullet
        - @profile.user.posts.last(5).each do |post|
          %li= link_to post.name, post
    %li
      Channels
      %hr{style: 'width:50%'}
      %ul.no-bullet
        - @profile.user.channels.last(5).each do |channel|
          %li= link_to channel.name, channel
