%br
.row
	%ul.sub-nav.no-bullet
		- if @user && current_user == @user
			%li= link_to 'Add/Edit Profile', new_profile_path
			%li= link_to 'Profile', profile_path(current_user.user_name || current_user)
		/%li= link_to 'Activity', activities_path
		
