%header
	School Info
- if @school_detail.present?
	- @school_detail.each do |sd|
		.panel.white-backgrnd{style: 'width: 90%;', id: sd.id}	
			%span.right
				= link_to 'Edit', edit_school_detail_path(@profile, sd)
			%strong
				Class:
			= sd.std
			%br
			%strong
				Name:
			= sd.name
- else
	= render 'school_details/form'
