<p>
  <%= @profile.try :full_name %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.try :education %>
</p>

<p>
  <strong>Job details:</strong>
  <%= @profile.try :job_details %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to 'FB profile ', @profile.facebook, target: '_blank' %>
</p>

<p>
  <strong>Github:</strong>
  <%= link_to 'Github profile ', @profile.github, target: '_blank' %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= link_to 'Linkedin profile ', @profile.linkedin, target: '_blank' %>
</p>


  