%hr
.row	
	.large-12.columns
		%ul.button-group.radius.even-7{style: 'margin-left: 0.5em'}
			%li.button.tiny
				= link_to 'Contributions', contributions_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'contribution', style: 'color: #fff'
			%li.button.tiny
				= link_to 'School Info', school_info_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'school_info', style: 'color: #fff'
			%li.button.tiny
				= link_to 'College Info', college_info_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'college_info', style: 'color: #fff'
			%li.button.tiny
				= link_to 'Experience', experience_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'exp_info', style: 'color: #fff'
			%li.button.tiny
				= link_to 'Projects', project_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'project_info', style: 'color: #fff'
			%li.button.tiny
				= link_to 'Achievements', achievement_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'ach_info', style: 'color: #fff'
			%li.button.tiny
				= link_to 'Activity', activity_profile_path(user_name: @user.try(:user_name)), remote: true, id: 'act_info', style: 'color: #fff'
