%p
	Social Profile
%hr
= semantic_form_for @profile do |f|
	= f.input :facebook, as: :url, label: false, placeholder: 'Facebook Profile link'
	= f.input :github, as: :url, label: false, placeholder: 'GitHub Profile link'
	= f.input :linkedin, as: :url, label: false, placeholder: 'Linkedin Profile link'
	= f.submit 'Submit', as: :input, class: 'button tiny radius success'
	= link_to 'Back', profile_path(user_name: current_user.user_name)
