.row
	%ul.sub-nav.no-bullet.hide-for-small
		%li
			= link_to 'Basic Info', basic_info_profile_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'Social Info', social_info_profile_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'School Info', school_details_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'College Info', college_details_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'Experience', experiences_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'Projects', projects_path(user_name: current_user.user_name || current_user)
		%li
			= link_to 'Achievements', achievements_path(user_name: current_user.user_name || current_user)
	.show-for-small.pad-1
		%a{'data-dropdown'=>"drop1",'aria-controls'=>"drop1", 'aria-expanded'=>"false"}
			%i.fa.fa-navicon
			%span Menu
		%ul#drop1.f-dropdown{'data-dropdown-content' => '', 'aria-hidden'=>"true", 'tabindex'=>"-1"}
			%li
				= link_to 'Basic Info', basic_info_profile_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'Social Info', social_info_profile_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'School Info', school_details_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'College Info', college_details_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'Experience', experiences_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'Projects', projects_path(user_name: current_user.user_name || current_user)
			%li
				= link_to 'Achievements', achievements_path(user_name: current_user.user_name || current_user)

