= render 'top_nav'
.row
	.no-bullet{style: 'margin-left: 1em;'}
	%header
		College Info
	- if @college_detail.present?
		- @college_detail.each do |cd|
			.panel.white-backgrnd{style: 'width: 90%;', id: sd.id}	
				%span.right
					= link_to 'Edit', edit_college_detail_path(@profile.user_name, cd)
				%strong
					Class:
				= cd.college.name
				%br
				%strong
					Name:
				= cd.deptartment
