.row
  %br
  %ul.inline-list
    %li
      = link_to 'Profile', profiles_path
    %li
      = link_to 'Activity', activities_path
%section.middle-section{:style => "padding-top: 1em;"}
  .row.collapse
    .large-9.columns{:style => "padding: 0 0 0 1em"}
      .row.collapse
        .large-3.columns
          = render 'left_section'
          %br
        .large-9.columns#post_index{:style => "padding: 0 1em 0 1em"}
          %div
            %h3
              = @profile.full_name
              %small
                = link_to_if  @profile.user == current_user, '', edit_profile_path(@profile), class: 'fa fa-pencil-square-o', title: 'Edit'
            = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook
            = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook
            = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook 
            %h4
              %small
                Member for #{time_ago_in_words(@profile.user.created_at)}
    .large-3.columns.hide-for-small-only{:style => "padding: 0em; padding-right: 0.5em"}
      .panel.right-section
        Create CV
  %div#profile_model.reveal-modal{'data-reveal' => '', 'aria-labelledby' => 'modalTitle', 'aria-hidden' => 'true', 'role' => 'dialog'}
  .row
    %h4 Education
    %br
    %ul.large-block-grid-2
      %li
        School
        %hr{style: 'width:75%'}
          - if @profile.school_details.blank? && @profile.user == current_user
            %a{"data-reveal-ajax" => "true", "data-reveal-id" => "profile_model", :href => new_school_detail_path(@profile)}  
          - @profile.school_details.each do |sd|
            = sd.std 
            \in 
            = sd.name
            = link_to_if @profile.user == current_user, '', edit_school_detail_path(@profile, sd), class: 'fa fa-pencil-square-o', title: 'Edit'
      %li
        School Projects
        %hr{style: 'width:75%'}
    %ul.large-block-grid-2
      %li
        College
        %hr{style: 'width:75%'}
          - if @profile.user == current_user
            %a{"data-reveal-ajax" => "true", "data-reveal-id" => "profile_model", :href => new_college_detail_path(@profile)}
              Add College
          - @profile.college_details.each do |cd|
            = cd.degree
            = cd.college.name
            = cd.college.location
            = link_to_if  @profile.user == current_user, '', edit_college_detail_path(@profile, cd), class: 'fa fa-pencil-square-o', title: 'Edit'
          
      %li
        College Projects
        %hr{style: 'width:75%'}
  .row
    %h4 Work Experience
    %hr
    %ul.large-block-grid-2
      %li
        Company details
        %hr{style: 'width:75%'}
          - if @profile.user == current_user
            %a{"data-reveal-ajax" => "true", "data-reveal-id" => "profile_model", :href => new_experience_path(@profile)}
              Company Details
          %br
          = @profile.experiences.inspect
      %li
        Projects worked on
        %hr{style: 'width:75%'}
  .row
    %h4 Achievements
    %hr
    %ul.large-block-grid-2
      %li
        = @profile.achievements.inspect
  .row
    %h4 @ Oogway
    %hr
    %ul.large-block-grid-3
      %li
        Posts
        %hr{style: 'width:75%'}
        %div
        %ul.no-bullet
          - @profile.user.posts.last(5).each do |post|
            %li= link_to post.name, post
      %li
        Channels
        %hr{style: 'width:50%'}
        %ul.no-bullet
          - @profile.user.channels.last(5).each do |channel|
            %li= link_to channel.name, channel


%section.footer-section
  = render 'layouts/footer'


