.full-width{:style => "padding-top: 1em;"}
  - if @profile
    %section.middle-section
      .row.collapse.white-backgrnd.pad-1
        .large-9.columns{:style => "padding: 0 0 0 1em"}
          .row.collapse
            .large-3.medium-3.columns
              = render 'left_section'
              %div
                Member for #{time_ago_in_words(@profile.user.created_at)}
              %div
                Written #{@user.posts.size} post
              - if @user.following.size.nonzero?
                %div
                  Following #{@user.following.size} people
              - if @user.my_subscriptions.size.nonzero?
                %div
                  Subscribed #{@user.my_subscriptions.size} channels
              - if @user.followers.size.nonzero?
                %div
                  #{@user.followers.size} people follow him
              %br
            .large-9.medium-9.columns#post_index{:style => "padding: 0 1em 0 1em"}
              %div
                %h3
                  = @profile.try(:full_name) || 'Not yet added'
                  %small
                    -if can? :update, @profile 
                      = link_to 'Edit', edit_profile_path(slug: @profile.user_name), class: 'fa fa-pencil-square-o', title: 'Edit'
                = raw @profile.try(:about)
                = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.facebook if @profile.facebook.present?
                = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.github if @profile.github.present?
                = link_to image_tag('facebook-icon.svg', height: 30, width: 30), @profile.linkedin if @profile.linkedin.present?
                
                %h4
                  %small
                    Interested in: #{@profile.interested_in_list}
                %h4
                  %small
                    Skills: #{(@profile.skills_list || 'Not yet added')}
        .large-3.columns.hide-for-small-only{:style => "padding: 0em; padding-right: 0.5em"}
          -# .panel.right-section
            Create CV
      .row.white-backgrnd
        = render 'side_nav'
        %div{style: 'padding-top: 1em'}
          #profile-form
            = render 'contributions', posts: @user.posts
  - else
    .row
      = link_to 'Add Profile', new_profile_path
.clearfix{style: "padding-bottom: 1em;"}
