<%= semantic_form_for @union do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :sub_domain %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
