<p id="notice"><%= notice %></p>

<h1>Listing Unions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sub domain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unions.each do |union| %>
      <tr>
        <td><%= union.name %></td>
        <td><%= union.sub_domain %></td>
        <td><%= link_to 'Show', union %></td>
        <td><%= link_to 'Edit', edit_union_path(union) %></td>
        <td><%= link_to 'Destroy', union, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Union', new_union_path %>
