<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @union.name %>
</p>

<p>
  <strong>Sub domain:</strong>
  <%= @union.sub_domain %>
</p>

<%= link_to 'Edit', edit_union_path(@union) %> |
<%= link_to 'Back', unions_path %>
