= semantic_form_for [@assignable, @assignment] do |f|
  = f.input :title, as: :string, placeholder: 'Title', label: false
  = f.input :description, as: :text, placeholder: 'Title', label: false
  = f.input :due_date, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'Due date'
  = f.submit 'Save', class: 'button tiny radius success'
  = link_to 'Cancel', [@assignable, :assignments], class: 'button tiny radius secondary'
