.row
  %h3 Listing assignments

  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Due date
        %th
        %th
        %th

    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.title
          %td= assignment.description
          %td= assignment.due_date
          %td= link_to 'Show', assignment
          %td= link_to 'Edit', edit_assignment_path(assignment)
          %td= link_to 'Destroy', assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Assignment', new_assignment_path, class: 'button tiny radius success'
