%div
	.intro-text{style: 'color: black'}
		= name = @assignable.fetch_title
.full-width.panel
	.row
		.large-2.columns.hide-for-small-only{:style => " background: #2e9fff none repeat scroll 0 0;border-color: #2e9fff; color: #fff; "}
			%h5{:style => "color: #fff;"}
				Creating a Assignment:
			%ul.list-bullet.spacing-narrow.text-medium
				%li.spacing-narrow
					Stay on topic for
					\#{link_to name, [@assignable], style: "color: #fff;"}
				%li.spacing-narrow
					Follow the Channel Rules.
				%li.spacing-narrow
					Assignment must relate to education or awareness.
				%li.spacing-narrow
					Assignment will be rejected if it doesn't fell under education or awareness.
		.large-7.columns.no-bullet
			%h3 Edit assignment
			= render 'form'
		.large-3.columns
			= render 'channels/rules'
