.row
  %h3 Listing assignments

  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Due date
        %th
        %th
        %th

    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.title
          %td= assignment.description
          %td= assignment.due_date
          %td= link_to 'Show', [@assignable, assignment]
          %td= link_to 'Edit', [:edit, @assignable, assignment]
          %td= link_to 'Destroy', [@assignable, assignment], :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Assignment', [:new, @assignable, :assignment], class: 'button tiny radius success'
