.row
  %p
    %b Channel:
    = @assignable.fetch_title
  %p
    %b User:
    = @assignment.user.user_name
  %p
    %b Title:
    = @assignment.title
  %p
    %b Description:
    = @assignment.description
  %p
    %b Due date:
    = @assignment.due_date
  = semantic_form_for @assignment.attachments.new do |f|
    = f.input :link, as: :file
    = f.submit 'Submit'

  = link_to 'Edit', [:edit, @assignable, @assignment], class: 'button tiny radius success'
  = link_to 'Back', [@assignable, :assignments], class: 'button tiny radius secondary'
