<div class="row full-width">
  <div class="large-8 medium-7 columns">
		
    <!-- <h3 class="text-center pad-1">
			<strong>SHARE YOUR KNOWLEDGE</strong>
		</h3>
  	<div class="text-center">
  	<%= image_tag('share-login-1.jpg') %>
  	</div>
  	<h4 class="text-center  pad-1">
  		<strong> Educate. Network. Influence</strong>
  	</h4> -->
    <div class="text-center">
      <h3 class="pad-1">
        <strong> 
          Join OogWay. Its free.
        </strong>
      </h3>
      <%= image_tag('ooggg.png', height: 100, width: 100) %>
    </div>
    <div class="text-center pad-1" >
      <h4 style="color: blue">
        <strong>
          Learn, Share & Care.
        </strong>
        <br>
        <strong>
          Come lets build a better world.
        </strong>
      </h4>
    </div>
  </div>
  <div class="large-4 medium-5 columns">
    <div class='pad-1' style="color: white">
	    <%= render "devise/shared/sign_up" %>
    </div>
  </div>
</div>
