<script type="text/javascript">
  $(document).ready(function(){
    $('.best_in_place').best_in_place();
  });
</script>
<!-- COMMENT -->
<% comment_owner = true if can? :update, comment%>
<div id="comment-<%= comment.id %>" class='row collapse'>
  <section class='top large-1 columns' style="margin-top: 1em">
    <h6 class="byline">
      <a href="<%= profiles_path(email: comment.user)%>"><i class="user-icon "></i></a>
    </h6>
  </section>
  <section class='content large-11 columns'>
    <small>said 
      <span class='data'>          
        <%= time_ago_in_words(comment.updated_at) %> ago
      </span>
      <% if current_user%>
        <a data-dropdown="drop<%= comment.id %>" aria-controls="drop<%= comment.id %>" aria-expanded="false">Action</a>
        <ul id="drop<%= comment.id %>" class="f-dropdown" data-dropdown aria-hidden="true" tabindex="-1">
          <% if comment_owner %>
            <li>
              <%= link_to 'Edit', edit_comment_path(@post,comment), class: 'fa fa-pencil-square-o', title: 'Edit'%>

            </li>
            <li>
              <%= link_to 'Delete', comment_path(id: comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete', method: :post%>
            </li>
          <% end %>
          <li>
            <small>
              <%= link_to 'Reply', comment_reply_path(@post, comment_id: comment, parent_id: comment.id),  title: 'Reply', remote: true %>
            </small>
          </li>
          <li>
            <small>
              <%= link_to 'Report Abuse', comment_report_abuse_path(@post.slug, comment), remote: true, method: :post, title: 'Report Abuse'%>
            </small>
          </li>
        </ul>
      <% end %>
    </small>
    <div class="comment-container">
      <%= raw comment.content %>
    </div>
  </section>
</div>  
