<div>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.text_area :content, rows: 5, cols: 20 %>
    <%= f.submit 'Add Comment', class: 'button tiny radius' %>
  <% end %>
</div>
<!-- 
<p>
<%= semantic_form_for @comment do |f| %>
  <%= f.inputs do %>
    <%= f.input :content %>
    <%= f.input :report_abuse %>
    <%= f.input :email %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
</p>
 -->
