<div class="large-12 columns">
	<!-- COMMENT -->
  <% @post.comments.includes(:user, user: :profile).each do |comment| %>
  	<% next if comment.try(:id).nil? %>
		<% comment_owner = (current_user && comment.user_id == current_user.id)%>
    <div class="comment" data-id='<%= comment.id%>' style="margin-bottom:1em">
    	<section class="top" style="border: 1px solid #ddd">
        <h6 class="byline">
        <!--   <% if comment.user.profile.present? %>
            <%= link_to image_tag(comment.user.profile.avatar.thumb),
                        profiles_path(comment.user)
            %>
          <% else %>
            <a href="#{profiles_path(comment.user)}"><i class="user-icon "></i></a>
          <% end %>
 -->      <a href="<%= profiles_path(email: comment.user)%>"><i class="user-icon "></i></a>
          <small>said 
            <span class="data">
              
              <%= time_ago_in_words(comment.updated_at) %> ago
            </span>
          </small>
        </h6>
      </section>
      <section class="content" style="margin-left: 1em">
        <p><%= raw comment.content%></p>
        <ul class="inline-list">
          <li>
            <%= link_to_if current_user, 'Reply', new_comment_path(parent_id: comment),  title: 'Reply'%>
          </li>
          <li>
            <%= link_to_if comment_owner, '', edit_comment_path(comment), class: 'fa fa-pencil-square-o', title: 'Edit'%>
          </li>
          <li>
            <%= link_to_if comment_owner, '', comment, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete'%>
          </li>
          <li>
            <%= link_to_if current_user, '', comment_report_abuse_path(@post, comment), remote: true, method: :post, title: 'Report Abuse'%>
          </li>
        </ul>
      </section>
    </div>
  <% end %>
</div>
