<div class="row">
  <div class="large-8  small-12 columns">
    <!-- COMMENT -->
    <div class="comment">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="user-icon"></i>Caleb Winters</a> 
          <small>said 
            <span class="data">
              4h Ago
            </span>
          </small>
        </h6>
      </section>
      <section class="content">
        <p>Nice start, Becky. I really like some of the elements you have going so far. The header and footer tie in nicely and the ribbon on tiles works well. The font is great also and looks readable. Here are a few areas you can keep iterating on:</p>

        <p>Simplify your color palette.</p> 
      </section>
      <section class="actions">

        <ul class="inline-list">
          <li><a href="#">Like (3)</a></li>
          <li><a href="#">Reply</a></li>
        </ul>

      </section>

    </div>

    <!-- INDENTED COMMENT -->
    <div class="indented comment push">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="user-icon"></i>Kyle Schmidt <span class="label">Post Author</span></a> 
          <small>said 
            <span class="data">
              4h Ago
            </span>
          </small>
        </h6>
      </section>
      <section class="content">
        <p>Wow, guys. Lots of great feedback.</p>
        <p>First, <a href="#">@Milkmusket</a>, I agree. I've struggled with that section and might take advice for <a href="#">@albanesetr</a> and focus on a single feature rather than the whole screenshot.</p>
        <p><a>@Hans</a>, I usually try to go for drop shadows pumped with a little color, may not be the case here but thanks for the comment. And for the header noise, and noise overall in the site, I need to try reducing it all around before we go live.</p>
        <p><a>@albanesetr</a>, thanks for all the good feedback. The pricing plans are definitely still WIP, the yellow $150 should have a "Most Popular" header, you're right. Other mockups had it, not sure why I haven't put it up yet.</p>
        <p>I'll try reducing the header, the active state was just conceptual at this point. For the one shown, I was considering a fixed header and wanted the user to see where they were at when scrolling. So the thick yellow bar would slide when you scroll.</p>
        <p>Again, thanks everyone. I really enjoy the feedback on Forrst. Much more in depth than over at Dribbble. :P</p> 
      </section>
      <section class="actions">

        <ul class="inline-list">
          <li><a href="#">Like (2)</a></li>
          <li><a href="#">Reply</a></li>
        </ul>

      </section>

    </div>

    <!-- COMMENT -->
    <div class="comment ">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="user-icon"></i>Jackie</a> 
          <small>said 
            <span class="data">
              4h Ago
            </span>
          </small>
        </h6>
      </section>
      
      <section class="content">
        <p>To get the ball rolling, is there any specific feedback you're looking for? What do you think works? What do you think doesn't?</p>
      </section>
      <section class="actions">

        <ul class="inline-list">
          <li><a href="#">Like (5)</a></li>
          <li><a href="#">Reply</a></li>
        </ul>

      </section>

    </div>

    <!-- INDENTED COMMENT -->
    <div class="indented comment">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="user-icon"></i>Kyle Schmidt <span class="label">Post Author</span></a> 
          <small>said 
            <span class="data">
              4h Ago
            </span>
          </small>
        </h6>
      </section>
      <section class="content">
        <p>So after a year and a half i have decided to redesign my portfolio, all images on these are placeholders, I also still have some ideas i have yet to add.</p>

        <p>Also a question for you guys, do you ever start to dislike your design after a while even though you loved it initially, because that's happening to me right now. I don't know what it is about this design, but I get annoyed when I look at it. Naturally I don't want others to feel that way when they visit my portfolio</p>
      </section>
      <section class="actions">
          <li><a href="#">Like (2)</a></li>
          <li><a href="#">Reply</a></li>
        </ul>
      </section>
    </div>
    <!-- INDENTED COMMENT -->
    <div class="indented comment">
      <section class="top">
        <h6 class="byline">
          <a href="#"><i class="user-icon"></i>Jackie</a> 
          <small>said 
            <span class="data">
              4h Ago
            </span>
          </small>
        </h6>
      </section>
      <section class="content">
        <p>Awesome. Always like to see illustrated characters. Some quick pieces of feedback:</p>

        <ul class="bullets">
          <li>The body positioning looks a bit unnatural, especially for the female character. Her hips and bossom should be aligned at the angle her body is turned.</li>
          <li>The arms are a bit too long and have an unnatural bend at the elbows.</li>
          <li>The fingers don't seem to be grasping the phones. They seem to sit on the palm.</li>
        </ul>
      </section>
      <section class="actions">
        <ul class="inline-list">
          <li><a href="#">Like (2)</a></li>
          <li><a href="#">Reply</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>
<!-- <p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Report abuse</th>
      <th>Email</th>
      <th>Commentable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user %></td>
        <td><%= comment.report_abuse %></td>
        <td><%= comment.email %></td>
        <td><%= comment.commentable %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
 -->