$("#reply-comment-form").remove()
$("#comment-<%= params[:parent_id]%>").append("<div id='reply-comment-form'></div>")
$("#reply-comment-form").html("<%= escape_javascript(render 'comments/form')%>")
