<%= render 'layouts/vs_header', video_obj: nil%>
<hr>
<div class="row column">
	<h4 style="margin: 0;" class="text-center">LATEST STORIES</h4>
</div>
<hr>
<div class="row">
	<div class="large-10 columns" style="border-right: 1px solid #E3E5E8;">
		<article>
			<% @post_types.each do |post_type| %>
				<div class="row">
					<div class="large-4 columns">
						<%= image_tag('deep1.jpg', height: '150', width: '250')%>
						&nbsp;&nbsp;
					</div>
					<div class="large-8	 columns">
						<h3>
							<%= link_to post_type.name, post_type_posts_path(post_type) %>
						</h3>
						<p><%= post_type.description[0..50]%></p>
						<%
							#= link_to "Back to #{post.post_type.name}", post_type_posts_path(post.post_type) 
						%> 
						<!-- <p>
							<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
							<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
							<span><i class="fi-comments"> 6 comments</i></span>
						</p> -->
					<!-- </div>
				</div>
			<% end %>
			<hr>
			<%= paginate @post_types %>
		</article>
	</div>
	<div class="large-2 columns">
		<aside> -->
			<!-- <div class="row small-up-3">
				<div class="column text-center">
					<i class="fi-social-facebook"></i>
					<h6>56,009</h6>
					<p><small>FOLLOWERS</small></p>
					<br>
				</div>
				<div class="column text-center">
					<i class="fi-social-twitter"></i>
					<h6>76,905</h6>
					<p><small>FOLLOWERS</small></p>
					<br>
				</div>
				<div class="column text-center">
					<i class="fi-social-instagram"></i>
					<h6>34,099</h6>
					<p><small>FOLLOWERS</small></p>
					<br>
				</div>
				<div class="column text-center">
					<i class="fi-social-tumblr"></i>
					<h6>13,765</h6>
					<p><small>FOLLOWERS</small></p>
				</div>
				<div class="column text-center">
					<i class="fi-social-pinterest"></i>
					<h6>9,283</h6>
					<p><small>FOLLOWERS</small></p>
				</div>
				<div class="column text-center">
					<i class="fi-social-youtube"></i>
					<h6>99,000</h6>
					<p><small>FOLLOWERS</small></p>
				</div>
			</div> -->
			<!-- <br>
			<%= render 'layouts/trending_posts'%>
		</aside>
	</div>
</div>
 -->


<div class="row">

      <div class="medium-6 large-4 columns">

        <article class="article-card">

          <img src="http://i.onionstatic.com/avclub/5199/85/16x9/960.jpg">

          <div class="card-content">

            <img class="post-icon" src="http://zurb.com/stickers/images/intro-foundation.png" alt="foundation icon">

            <p class="post-author">By <a href="#">Vincent Vega</a></p>

            <h4>Pulp Fiction brought guns, gimps, and glory to the Cannes Film Festival</h4>

            <p>If my answers frighten you then you should cease asking scary questions. Zed's dead, baby. Zed's dead. I love you, Pumpkin. I love you, Honey Bunny. All right, everybody be cool, this is a robbery!</p>

            <p>

              <a href="#">Read on...</a> 

              <a href="#" class="right"><i class="fi-share"></i></a>

              <a href="#" class="right"><i class="fi-heart"></i></a>

            </p>

          </div>

        </article>

      </div>

      <div class="medium-6 large-4 columns">

        <article class="article-card">

          <img src="http://www.sonymoviechannel.com/sites/default/files/movies/images/syn__0055_snatch.jpg?1284493346">

          <div class="card-content">

            <img class="post-icon" src="http://zurb.com/stickers/images/intro-foundation.png" alt="foundation icon">

            <p class="post-author">By <a href="#">Brick Top</a></p>

            <h4>Santch. The best gangster movie of all time? I'll fight ya for it.</h4>

            <p>It's behind you Tyrone. Whenever you reverse, things come from behind you. Who took the jam outta your doughnut? Yes, London. You know: fish, chips, cup 'o tea, bad food, worse weather, Mary f-king Poppins... LONDON.</p>

            <p>

              <a href="#">Read on...</a> 

              <a href="#" class="right"><i class="fi-share"></i></a>

              <a href="#" class="right"><i class="fi-heart"></i></a>

            </p>

          </div>

        </article>

      </div>

      <div class="medium-6 large-4 end columns">

        <article class="article-card">

          <img src="http://imageserver.moviepilot.com/14709_fight_club-these-12-facts-prove-that-fight-club-is-one-of-the-best-films-ever-made.webp?width=960&height=600">

          <div class="card-content">

            <img class="post-icon" src="http://zurb.com/stickers/images/intro-foundation.png" alt="foundation icon">

            <p class="post-author">By <a href="#">Tyler Durden</a></p>

            <h4>It's said that the first rule of Fight Club is: 'You do not talk about Fight club.' We must ignore this rule for two reasons:</h4>

            <p>You are not special. You are not a beautiful or unique snowflake. You're the same decaying organic matter as everything else.</p>

            <p>

              <a href="http://cultrbox.com/2014/01/13/fight-club-falling-down-and-the-anti-corporate-anti-hero/">Read on...</a> 

              <a href="#" class="right"><i class="fi-share"></i></a>

              <a href="#" class="right"><i class="fi-heart"></i></a>

            </p>

          </div>

        </article>

      </div>
