<p>
  <strong>Name:</strong>
  <%= @post_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_type.description %>
</p>
<%= link_to 'Create Post', new_post_path %>
<%= link_to 'Back', post_types_path %>