<%- unless ['channels', 'sessions', 'posts', 'passwords'].include?(controller_name) %>
  <%= link_to "Have an account?", new_session_path(resource_name), class: 'button tiny radius' %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'home' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' && controller_name != 'home' %>
  <strong><medium><%= link_to "Forgot your password?", new_password_path(resource_name) %></medium></strong><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' && controller_name != 'home' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' && controller_name != 'home' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

