<% ajax_form = ajax rescue false %>
<%= form_for resource, as: resource_name, url: session_path(resource_name), remote: ajax_form do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="text-center">
      <h4>
        Log in
      </h4>
    </div>
    <div class="fields">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      <%= f.password_field :password, autocomplete: "off",placeholder: 'Password' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    <ul class="inline-list">
      <li>
        <%= f.submit "Login", class: 'button tiny' %>
      </li>
      <li>
        <%= render "devise/shared/links" %>    
      </li>
    </ul>     
  </div>
<% end %>
