<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :user_name, autofocus: true, placeholder: 'User Name' %>
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>

  <div class="field">
    <% roles = Role.all %>
    <%= f.select :role_ids, options_from_collection_for_select(roles, 'id', 'name'), prompt: 'Joining as' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
  </div>
  <%= f.submit "Sign up", class: 'button tiny radius' , style: 'background-color: #7030A0; border: 1px solid #fff'%>
  &nbsp;
  <%= link_to "Have an account?", new_user_session_path %>
  <!-- <div class="row collapse">
    <div class="large-12 columns">
    	<ul class="inline-list">
    		<li>
    			
    		</li>
    		<li>
    			
    		</li>
    	</ul>
    </div>
  </div> -->
<% end %>


