<div class='share-icons'>	
	<%- if devise_mapping.omniauthable? %>
    <%- resource.class.omniauth_providers.each do |provider| %>
    	<% if provider.to_s.downcase == 'facebook' %>
      	<%= link_to image_tag('facebook-icon.svg'), omniauth_authorize_path(resource_name, provider) %>
      <% else %>
      	<%= link_to image_tag('googleplus-icon.svg'), omniauth_authorize_path(resource_name, provider) %>
    	<% end -%>  
    <% end -%>
  <% end -%>
</div>
