<div class='share-icons'>	
	<%- if devise_mapping.omniauthable? %>
    <%- resource.class.omniauth_providers.each do |provider| %>
    	<% if provider.to_s.downcase == 'facebook' %>
      	<%= link_to 'Login with Facebook', omniauth_authorize_path(resource_name, provider), class: 'button tiny radius' %>
      <% else %>
      	<%= link_to 'Login with Google', omniauth_authorize_path(resource_name, provider), class: 'button tiny radius' %>
    	<% end -%>  
    <% end -%>
  <% end -%>
</div>
