- path = nil
- if action_name == 'edit'
	- path = college_detail_path(id: @college_detail) 
= semantic_form_for @college_detail, url: path do |f|
	= f.input :degree
	= f.input :year, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'Graduation Year'
	= f.input :department
	= f.input :college_id, as: :select, collection: College.pluck(:name, :id),label_method: :id ,label: false, prompt: 'Please Select Your College'
	= f.submit 'Submit', as: :input, class: 'button tiny radius success'
	= link_to 'Back', college_details_path
