<div style="padding: 1em">
  <h5>Listing College Details</h5>
  <table>
    <thead>
      <tr>
        <th>Degree</th>
        <th>College</th>
        <th>Year</th>
        <th>Department</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @college_details.each do |college_detail| %>
        <tr>
          <td><%= college_detail.degree %></td>
          <td><%= college_detail.college.try(:name) || 'N/A' %></td>
          <td><%= college_detail.year %></td>
          <td><%= college_detail.department %></td>
          <% if can? :update, college_detail %>
            <td><%= link_to 'Show', college_detail_path(college_detail.user.user_name, college_detail) %></td>
            <td><%= link_to 'Edit', edit_college_detail_path(college_detail.user.user_name, college_detail) %></td>
            <td><%= link_to 'Destroy', college_detail_path(college_detail.user.user_name, college_detail), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
