<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @college_detail.degree %>
</p>

<p>
  <strong>College:</strong>
  <%= @college_detail.college %>
</p>

<p>
  <strong>Year:</strong>
  <%= @college_detail.year %>
</p>

<p>
  <strong>Department:</strong>
  <%= @college_detail.department %>
</p>


<%= link_to 'Edit', edit_college_detail_path(@college_detail) %> |
<%= link_to 'Back', college_details_path %>
