<div class="row">
<div class="large-12 columns">
  <h4>Listing Statuses</h4>
  <%= grid(@statuses) do |g|
    g.column name: 'Title', attribute: 'name'
    g.column name: 'Description', attribute: 'description' do |status|
      raw status.description
    end
    g.column name: 'Active', attribute: 'active' do |status|
      status.active ? 'Yes' : 'No'
    end
    g.column name: 'Actions'  do |task|
      link_to('', administrator_status_path(task), class: 'fa fa-eye', title: 'Show') + \
       ' | ' + \
      link_to('', edit_administrator_status_path(task), class: 'fa fa-pencil-square-o', title: 'Edit') +  \
      ' | ' + \
      link_to('', administrator_status_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete')

    end
  end -%>
 <%= link_to 'New Status', new_administrator_status_path %>
</div>  
</div>

