<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status.active %>
</p>

<%= link_to 'Edit', edit_administrator_status_path(@status) %> |
<%= link_to 'Back', administrator_statuses_path %>
