- @activities.each do |act|
	%div.white-backgrnd
		- if act.trackable_type == 'Comment'
			%div{style: 'margin-left: 1em;padding-top:1em;'}	
				= time_ago_in_words act.created_at
				ago you commented on 
				= link_to act.trackable.commentable.slug, post_path(slug: act.trackable.commentable.slug)
		- elsif act.trackable_type == 'Post'
			%div{style: 'margin-left: 1em;padding-top:1em;'}
				= time_ago_in_words act.created_at
				ago you
				= act.action << 'd'
				/ on
				= link_to act.trackable.slug, post_path(slug: act.trackable.slug)
				%br
		- elsif act.trackable_type == 'Channel'
			%div{style: 'margin-left: 1em;padding-top:1em;'}
				= time_ago_in_words act.created_at
				ago you
				= act.action
				/ on
				= link_to act.trackable.slug, channel_path(act.trackable)
				%br
