.row
  %h3 My assignments

  %table
    %thead
      %tr
        %th Title
        %th Description
        %th Due date
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.title
          %td= assignment.description
          %td= assignment.due_date
          %td= link_to 'Show', [assignment.assignable, assignment]

  %br
