%header.white-backgrnd{style: 'padding: 5px;'}
  - author = author rescue false
  - if author
    Author:
    %a{href: profile_path(user.user_name)}
      = user.user_name
  - else
    %a{href: profile_path(user.user_name)}= user.user_name
%article.article-card
  = link_to image_tag(user.profile.try(:avatar).try(:medium) || 'no-image.jpg', width: 200, height: 100), profile_path(user.user_name)
  .white-backgrnd
    .article-content{style: 'padding-top: 1em;'}
      .row.collapse.user-stats
        .small-3.columns
          .text-center
            = user.posts.size
          %span Posts
        .small-3.columns
          .text-center
            = user.followers.size
          %span Followers
        .small-3.columns
          .text-center
            = user.following.size
          %span Following
        .small-3.columns
          - if user_signed_in?
            %small
              %span= render 'users/subscription', user: user, label: 'Following'
