<div class='white-backgrnd' style="padding: 0.5em">
	<h5 style="border-bottom: 1px solid #ddd">
		Contributors:
	</h5>
	<% if contributors.nil? %>
		<p>
		  No contributors.Looks like a new channel.
		</p>
	<% else %>
		<ul class="no-bullet text-medium ">
			<% contributors.each do |user| %>
			<li style="padding-bottom: 5px">
				<span class='label secondary round'>
					<%= user.post_count %>
				</span>
				<%= link_to user.user_name, profile_path(user.user_name) %>
			</li>
			<%end%>
		</ul>
	<% end %>
</div>
