%article.article-card
  = link_to image_tag(user.profile.try(:avatar).try(:medium) || 'no-image.jpg'), profile_path(user.user_name)
  .white-backgrnd
    .article-content{style: 'padding-top: 1em;'}
      .row.collapse.user-stats
        .small-4.columns
          .text-center
            = user.posts.size
          %span Posts
        .small-4.columns
          .text-center
            = user.followers.size
          %span Followers
        .small-4.columns
          .text-center
            = user.following.size
          %span Following
