- if current_user
	- following = current_user.follow?(user.id)
	- if current_user != user
		%div{id: "follow-group-#{user.id}", class: "#{following ? 'show' : 'hide'}"}
			&nbsp;
			/ = link_to 'Unfollow', unfollow_user_path(user),	 remote: true, method: :post,class: 'label tiny success radius'%> &nbsp;
		%div{id: "subscribe-group-#{user.id}", class: "#{following ? 'hide' : 'show'}"}
			= link_to 'Follow', subscribe_user_path(user), remote: true, method: :post,class: 'label tiny radius'
- else
	%a{id: 'sign_in_dialog', href: 'javascript:void(0)', 'data-reveal-id' =>"sign_in_modal"}
		%i.fa.fa-follow
		Follow
	.reveal-modal.small#sign_in_modal{'data-reveal' => '', 'aria-labelledby'=> 'modalTitle','aria-hidden'=>'true', role: 'dialog'}
		%a.close-reveal-modal{'aria-label'=>'Close'}
			&#215;
		.pad-1{style: "color: white"}
			= render "devise/shared/login", ajax: true
