.row
  - if users.present?
    %header
      = action_name.capitalize if controller_name == 'users'
    - users.each do |user|
      .large-12.columns.white-backgrnd.relatedWrapper{:style => "border: 1px solid #ddd"}
        .user-container.pad-1
          .row.collapse
            .large-7.columns{:style => "padding-top: 10px"}
              %h3
                %small
                  = link_to user.email, 'javascript:void(0)'
            .large-5.columns
              .row.collapse.user-stats
                .small-4.columns
                  %h5.text-center= user.posts.size
                  %span Posts
                .small-4.columns
                  %h5.text-center= user.followers.size
                  %span Followers
                .small-4.columns
                  %h5.text-center= user.following.size
                  %span Following
  - else
    .large-12.columns.text-center
      No results for this particular category
