<hr>
<header style="height: 150px">
  <div class="text-center">
    <header><h2>OOGWAY</h2></header>
    <h3>The Best Way To Learn</h3>
  </div>
</header>
<section>
  <div class='left-section large-2 columns'>
    <%= render 'left_section' %>
  </div>
  <div class="middle-section large-6 columns">
    <article>
      <% @posts.each do |post| %>
        <% likes = post.votes.select(&:vote_flag).size %>
        <% dislikes = post.votes.reject(&:vote_flag).size %>
        <div class="row panel">
          
            <div class="large-4 columns">
              <%= image_tag(post.try(:post_images).try(:first).try(:image) || 'deep1.jpg', height: '100', width: '150')%>
              &nbsp;&nbsp;
            </div>
            <div class="large-8  columns">
              <h5 id='post_id' value="<%= post.id%>">
                <%= link_to post.name, post_path(post) %>
              </h5>
              <p><%= raw post.description%></p>
              <%
                #= link_to "Back to #{post.channel.name}", channel_posts_path(post.channel) 
              %> 
              <a zf-open="basicModal" data-reveal-id="post-<%= post.id%>">Get Summary</a>
              &nbsp;&nbsp;
              <i class="fa fa-thumbs-o-up fa-lg ">
                <%= likes %>
              </i>
              &nbsp;&nbsp;
              <i class="fa fa-thumbs-o-down fa-lg">
                <%= dislikes %>
              </i>
              <div zf-modal="" id="post-<%= post.id%>"  class="reveal-modal" data-reveal>
                <a zf-close="" class="close-reveal-modal" >×</a>
                <h3><%= post.name%></h3>
                <p><%= raw post.description %></p>
                <i class="fa fa-thumbs-o-up">
                  <%= likes %>
                </i>
                <i class="fa fa-thumbs-o-down">
                  <%= dislikes %>
                </i>
                <p>
                <%= link_to 'Want to read', post_path(post) %>
                </p>
              </div>
            </div>

        </div>
      <% end %>
      <%= paginate @posts %>
    </article>
  </div>
  
  <div class='right-section'>
    <div class="large-2 columns">
      <%= render 'layouts/trending_posts'%>
    </div>
    <div class="large-2 columns">
      <%= render 'layouts/trending_posts'%>
    </div>
  </section>
</section>