<% if @error %>
	window.location = '/users/sign_in'
	<%flash[:notice] = 'Please login to subscribe'%>
<% else %>
	$('.flash').append("<p class='success'> Following <%=@user.email%> successfully</p>");
	$('#follow-group-<%= @user.id%>').removeClass('hide')
	$('#subscribe-group-<%= @user.id%>').removeClass('show')
	$('#subscribe-group-<%= @user.id%>').addClass('hide')
	var followers_count = parseInt($('#<%= @user.id%>-followers-count').text())
	$('#<%= @user.id%>-followers-count').text(followers_count+1)
<% end %>
