<% if @error %>
	window.location = '/users/sign_in'
	<%flash[:notice] = 'Please login to subscribe'%>
<% else %>
<%flash[:notice] = 'Channel Unsubscribed successfully'%>
	$('.flash').append("<p class='success'> User unfollowed successfully</p>");
	$('#subscribe-group-<%= @user.id%>').removeClass('hide')
	$('#follow-group-<%= @user.id%>').removeClass('show')
	$('#follow-group-<%= @user.id%>').addClass('hide')
	var followers_count = parseInt($('#<%= @user.id%>-followers-count').text())
	$('#<%= @user.id%>-followers-count').text(followers_count-1)
<% end %>