= form_for [:administrator, @administrator_role] do |f|
	- if @administrator_role.errors.any?
		#error_explanation
			%h2
				= "#{pluralize(@administrator_role.errors.count, "error")} prohibited this administrator_role from being saved:"
			%ul
				- @administrator_role.errors.full_messages.each do |msg|
					%li= msg
	.inputs
		= f.text_field :name, label: false, placeholder: 'Role title'
	.actions
		= f.submit 'Save'
