.full-width.panel
  .row.white-backgrnd
    %h3 Listing administrator_roles

    %table
      %thead
        %tr
          %th Role
          %th Action
          
      %tbody
        - @administrator_roles.each do |role|
          %tr
            %td= role.name
            %td= link_to 'Show', administrator_role_path(role)
            %td= link_to 'Edit', edit_administrator_role_path(role)
            %td= link_to 'Destroy', administrator_role_path(role), :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Role', new_administrator_role_path, class: 'button tiny success'
