- if tags.present?
	%div
		%h5
			= header rescue 'Tags'
		%ul.no-bullet.sub-nav
			- tags.each do |tag|
				%li.tags{style: "padding-bottom: 5px" }
					= link_to tag.name, tag_path(tag.name), class:"label success round"
