- path = nil
- if action_name == 'edit'
	- path = school_detail_path(id: @school_detail.id)
%h5
	School Details
%hr{style: 'width:90%;'}
= semantic_form_for @school_detail, url: path do |f|
	= f.input :std, label: false, placeholder: 'Class name'
	= f.input :name, label: false, placeholder: 'School name'
	= f.submit 'Submit',as: :input, class: 'button tiny radius success'
	= link_to 'Back', school_details_path(user_name: current_user.user_name)
