.pad-1.white-backgrnd.no-bullet
  %h4
    Listing School Details
%table
  %thead
    %tr
      %th Class
      %th Name
      %th{colspan: '3'} Action
  %tbody
    - @school_details.each do |school_detail|
      %tr
        %td= school_detail.std
        %td= school_detail.name
        %td= link_to 'Show', school_detail_path(school_detail.user.user_name, school_detail)
        %td= link_to 'Destroy', school_detail_path(school_detail.user.user_name, school_detail), method: :delete, data: { confirm: 'Are you sure?'}
