<div class="panel full-width">
  <div class='row' >
    <div class="white-backgrnd">
    <%= render 'profiles/top_nav'%>
    </div>
    <br>
    <div class="white-backgrnd no-bullet" style="padding:1em;">
			<p>
			  <strong>Class:</strong>
			  <%= @school_detail.class %>
			</p>

			<p>
			  <strong>Name:</strong>
			  <%= @school_detail.name %>
			</p>

			<%= link_to 'Edit', edit_school_detail_path(@school_detail.user.user_name, @school_detail) %> |
			<%= link_to 'Back', school_details_path %>
		</div>
	</div>
</div>
