= stylesheet_link_tag('slick-theme.css', 'slick.css')
= javascript_include_tag('slick.min.js', 'explore_channels.js')
.row.white-backgrnd
  - if channels.present?
    - channels.each do |channel|
      .large-12.columns
        .channel-container{:style => "padding: 10px"}
          .row.collapse
            .large-8.columns{:style => "padding-top: 10px"}
              %h6
                = link_to channel.name, channel_posts_path(channel)
              = channel.description[0..75]
            .large-4.columns
              .row.collapse.user-stats
                .small-4.columns
                  %h5.text-center= channel.posts.size
                  %span Posts
                .small-4.columns
                  %h5.text-center= channel.subscriptions.size
                  %span Followers
                .small-4.columns
                  %br
                    %span= render 'channels/subscription', channel: channel, label: 'Following'
      %hr
  - else
    .large-12.columns.text-center
      No results for this particular category
