/ %link{:href => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css", :rel => "stylesheet", :type => "text/css"}/
/ %link{:href => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
/ %script{:src => "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js", :type => "text/javascript"}

-#%div{:style => "margin: 1em"}
  %header.text-center{:style => "border: 1px solid #5cb767;"}
    Popular Channels
  .slider-nav{:style => "border: 1px solid #5cb767"}
    - channels.each do |channel|
      %div  
        %header{:style => "padding: 5px;border-bottom: 1px solid #ddd"}
          = link_to channel.name, channel_path(channel)
          %br
        = raw channel.description[0..75]
        = link_to 'Read more..', channel_path(channel)

%ul.no-bullet
  %li.text-center{:style => "border: 1px solid #ddd;"}
    \ Popular Channels
  - channels.each do |channel|
    %li.relatedWrapper
      .row.collapse
        .large-7.columns{:style => "padding-left: 0.3em;"}
          = link_to channel.name, channel_path(channel)
          %br
          = raw channel.description[0..250]
        .large-5.columns{:style => "padding-left: 0.3em; margin-top: 0.5em;  margin-bottom: 0.5em"}
          = link_to image_tag(channel.channel_images.first.try(:image).try(:small) || 'oogway-wifi.png', height: '75', width: '75', class: 'th', align: 'left'), channel_path(channel)



:javascript
  $(document).ready(function(){
    $('.slider-nav').slick({
      dots: false,
      autoplay: true,
      infinite: true,
      speed: 1000,
      cssEase: 'linear',
      responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                      }
                    },
                    {
                      breakpoint: 600,
                      settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                      }
                    },
                    {
                      breakpoint: 500,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    }
                      // You can unslick at a given breakpoint now by adding:
                      // settings: "unslick"
                      // instead of a settings object
                  ]
    });
  })
