
- @posts.each do |post|
  - likes = post.votes.select(&:vote_flag).size
  - dislikes = post.votes.reject(&:vote_flag).size
  %li
    %article.article-card
      %img{src: (post.post_images.try(:first).try(:image).try(:medium) || 'assets/no-image.jpg'), width: 250}
      .card-content
        %post-author
          %small 
            By
            %a{href: 'javascript:void(0)'}= post.user.email
          %h6
            %a{href: post_path(post)}= post.name
        .content
          = raw post.description[0..100]
        .row
          %small
            %a
              %i.fa.fi-heart.fa-thumbs-up{title: 'likes'}= likes
            %a
              %i.fa.fi-heart.fa-thumbs-down{title: 'dislikes'}= dislikes
            %a
              %i.fa.fi-heart.fa-comments{title: 'comments'}= post.comments.size
        %a{href: post_path(post)} Read on...
%div
  = paginate @posts
