.row{style: 'padding-top:1em'}
	.large-8.columns
		= render 'posts/post'
	.large-4.columns.white-backgrnd
		.pad-1
			= render 'devise/shared/login'
		%div
			= render 'shared/tags', tags: Tag.popular_post, header: 'Popular Tags'
