%br
.row
	%ul.large-block-grid-3
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Account	
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here? 
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Our model
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here? 
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Reputation
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here? 
	%ul.large-block-grid-3
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Channels
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here? 
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Posts
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here? 
		%li
			%header{style: 'border-bottom: 1px solid #ddd'}
				\ Badges
			%h4
				%small
					What topics can I ask about here?
					%br
					What topics can I ask about here?  
