%section.welcome
  .intro
    %h2.text-center
      %p= image_tag('ooggsb.png', height: '100', width: '100')
      %strong
        Welcome to Oogway
  %div.text-center
    %h4{style: 'color: #fff; padding-left: 1em;'}
      Connect with teachers, mentors, recruiters & fellow students
      %br
      Learn, Share & Care
  - unless current_user
    %hr{style: "width: 45%; margin-left: 28%;border-color: black;"}
    %div.text-center  
      = link_to "Sign up", new_user_registration_path,class: 'button tiny radius', style: 'background-color: #7030A0;'
      = link_to "Login", new_user_session_path, class: 'button tiny radius  success'

-#%section
  .row.collapse{style: 'min-height: 17em; padding-top: 1em'}
    .large-4.medium-4.columns
      = image_tag('share-good.png')
    .large-8.medium-8.columns
      %h5
        %strong{style: 'color: blue'}
          Tiny drops maketh a ocean. Oogway will serve as a medium for people who are experts in their fields to share their views and experience. What you share in Oogway will play a great role in shaping one’s life.
  .row.collapse{style: 'min-height: 15em'}
    .large-4.medium-4.columns
      = image_tag('group-share.png')
    .large-8.medium-8.columns
      %h5
        %strong{style: 'color: blue'}
          You will also get an opportunity to interact with like mentors, industry experts, teachers and students. 
      %strong
        = link_to "Join us to create a better world.", new_user_registration_path, style: 'color: purple'
.how-it-works#how-it-works
  %h2.text-center
    %strong{style: "color: #008cba;"}
      How it works
  .row 
    .contents  
      .large-4.medium-4.columns{style: 'border-right: 2px solid lightblue'}
        = image_tag('channel-new.png')
        .text-center Create or Follow a channel
      .large-4.medium-4.columns{style: 'border-right: 2px solid lightblue'}
        = image_tag('post_thought.png')
        .text-center Post your thoughts
      .large-4.medium-4.columns
        = image_tag('interact-new.png')
        .text-center  Discuss with experts
      -#.large-3.medium-3.columns
        = image_tag('idea-new.png')
        .text-center  And Improve 
  .row{style: 'padding-top: 1em;'}
    %div{style: 'font-style: italic;'} 
      Tiny drops maketh a ocean. Oogway will serve as a medium for people who are experts in their fields to share their views and experience. What you share in Oogway will play a great role in shaping one’s life.
.clearfix
-#  
  = render 'join_us'
  .row
    .text-center
      %h4{:style => " color: purple"}
        = image_tag('turtle-icon.png', height: '50', width: '50')
        %strong
          Join OogWay. Its free.
      = link_to "Sign up", new_user_registration_path,class: 'button tiny radius', style: 'background-color: #7030A0; border: 1px solid #fff'
      = link_to "Login", new_user_session_path, class: 'button tiny radius success'
