.full-width.row
	.large-4.medium-4.columns.join-us-cover{style: "min-height: 25em"}
		.student-cover-img
		.text-center{style: 'padding-top: 22em'} 
			.button.radius.tiny.secondary
				Hello Student Register
	.large-4.medium-4.columns.join-us-cover{style: "min-height: 25em"}
		.mentor-cover-img
		.text-center{style: 'padding-top: 22em'} 
			.button.radius.tiny.secondary
				Hello Mentor Register 
	.large-4.medium-4.columns.join-us-cover{style: "min-height: 25em"}
		.school-cover-img
		.text-center{style: 'padding-top: 22em'} 
			.button.radius.tiny.secondary
				Institution Register 
