= javascript_include_tag "scroll_deck/jquery.easing.1.3.js", "scroll_deck/jquery.scrollrama.js", "scroll_deck/jquery.scrolldeck.js", "scroll_deck/jquery.scrollTo-1.4.3.1.min.js", "scroll_deck/jquery.parallax-1.1.js"
= stylesheet_link_tag "scroll_deck/style.css" 

:javascript
  $(document).ready(function(){
    //$('#nav').localScroll(800);
    
    RepositionNav();
    
    $(window).resize(function(){
      RepositionNav();
    }); 
    
    //.parallax(xPosition, adjuster, inertia, outerHeight) options:
    //xPosition - Horizontal position of the element
    //adjuster - y position to start from
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#intro').parallax("54%", 500, 0.1, true);
    $('#second').parallax("50%", 0, 0.1, true);
    $('.bg').parallax("50%", 2500, 0.4, true);
    $('#third').parallax("50%", 2700, 0.1, true);
    
    var deck = new $.scrolldeck({
      slides: '.slide',
      buttons: '#nav li a',
      easing: 'easeInOutExpo'
    });

  })
  
%ul#nav
  %li
    %a{:href => "#intro", :title => "Next Section"}
  %li
    %a{:href => "#second", :title => "Next Section"}
  %li
    %a{:href => "#third", :title => "Next Section"}
  %li
    %a{:href => "#fifth", :title => "Next Section"}
#intro.slide
  .story
    .float-left
      %h2 Oogway
      %p This section has a background that moves slightly slower than the user scrolls. This is achieved by changing the top position of the background for every pixel the page is scrolled.
  / .story
/ #intro
#second.slide
  .story
    / <div class="bg"></div>
    .float-right
      %h2 Multiple Backgrounds
      %p The multiple backgrounds applied to this section are moved in a similar way to the first section -- every time the user scrolls down the page by a pixel, the positions of the backgrounds are changed.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.
  / .story
/ #second
#third.slide
  .story
    .float-left
      %h2 What Happens When JavaScript is Disabled?
      %p The user gets a slap! Actually, all that jQuery does is moves the backgrounds relative to the position of the scrollbar. Without it, the backgrounds simply stay put and the user would never know they are missing out on the awesome! CSS2 does a good enough job to still make the effect look cool.
  / .story
/ #third
#fifth.slide
  .story
    .text-center
      Blah
    / .story
/ #fifth
.full-width
  %br
  -#
    .row{style: 'border: 1px solid #ddd; height: 15em; padding: 1em'}
      %ul.tabs{"data-tab" => ""}
        %li.tab-title.active{style: 'border: 1px solid #ddd; width: 25%'}
          %a{ href: '#oogway'} 
            %h4
              %small Oogway
        %li.tab-title{style: 'border: 1px solid #ddd;  width: 25%'}
          %a{ href: '#creating_channel' } 
            %h4
              %small What's a Channel?
        %li.tab-title{style: 'border: 1px solid #ddd;  width: 25%'}
          %a{ href: '#creating_post' } 
            %h4
              %small What is a post?
        %li.tab-title{style: 'border: 1px solid #ddd;  width: 25%'}
          %a{ href: '#build_better_world' } 
            %h4
              %small Let build a better world
      .tabs-content
        #oogway.content.active
          Oogway the community to share knowledge, experience gained in performing certain things and help other from falling into pits and loop holes. Share to make the world a better place.
          What we believe in is, every one is a master mind in their own way. Rather than building things individually, come lets build a world together for a better tomorrow.
        #creating_channel.content
          What is a channel.
        #creating_post.content
          Changing the social network to achieve full its full power
        #build_better_world.content
          Lets build better world by learn and let learn motive
      
  
    %br    
    .row
      .large-4.columns
        %header
          Post of the week
        %ul.no-bullet
          - @weekly_hits[:posts].each do |post|
            %li.relatedWrapper
              .row
                .large-4.columns
                  = link_to image_tag(post.post_images.first.try(:image).try(:small), class: 'th', align: 'left'), post_path(post)
                .large-8.columns
                  = link_to post.name, post_path(post)
                  = raw post.description[0..75]
                  = post.votes_count
      .large-4.columns
        %header
          Channel of the week
        %ul.no-bullet
          - @weekly_hits[:posts].each do |post|
            %li.relatedWrapper
              .row
                .large-4.columns
                  = link_to image_tag(post.post_images.first.try(:image).try(:small), class: 'th', align: 'left'), post_path(post)
                .large-8.columns
                  = link_to post.name, post_path(post)
                  = raw post.description[0..75]
                  = post.votes_count
      .large-4.columns
        %header
          Contributor of the week
        %ul.no-bullet
          - @weekly_hits[:posts].each do |post|
            %li.relatedWrapper
              .row
                .large-4.columns
                  = link_to image_tag(post.post_images.first.try(:image).try(:small), class: 'th', align: 'left'), post_path(post)
                .large-8.columns
                  = link_to post.name, post_path(post)
                  = raw post.description[0..75]
                  = post.votes_count
    .row
      .large-8.columns
        %header.white-backgrnd{style: 'border: 1px solid #ddd;padding: 1em;'}
          Latest Topics
        .home-posts{style: 'border: 1px solid #ddd;height: 60em; padding: 1em;overflow: auto;'}
          = render 'latest_post', posts: @posts.first(5)
      .large-4.columns
        .post_week{style: 'border: 1px solid #ddd; padding: 1em'}
          %header Post of the week
          %hr
          Post which got most likes, comments and less dislike
        %br
        .channel_week{style: 'border: 1px solid #ddd; padding: 1em'}
          %header Channel of the week
          %hr
          Channel which got most Post, Follower and less unfollowers
        %br
        .news{style: 'border: 1px solid #ddd; padding: 1em'}
          %header News
          %hr
          All news happenning in oogway new features which are about to add and other stuff like a school joined oogway
          Atleast 5 news to shown, awards what ever related
        %br
        .events{style: 'border: 1px solid #ddd; padding: 1em'}
          %header Events
          %hr
          All events happenning in oogway like seminar conducted in other schools and colleges
          Atleast 5 news to shown, awards what ever related
    %br
    .row
      .large-8.columns
        %header.white-backgrnd{style: 'border: 1px solid #ddd;padding: 1em;'}
          Popular Channels
        .home-channels{style: 'border: 1px solid #ddd; padding: 1em;'} 
          %ul.large-block-grid-3.small-block-grid-1.medium-block-grid-2
            = render 'home_ex_channel', channels: @channels[:popular].first(5)
      .large-4.columns
        .testimonials
          %header
            Testimonies
          %blockquote
            Oogway a great thing we need now. Its a social network but used for a better purpose.
        .testimonials
          %header
            Testimonies
          %blockquote
            Oogway a great thing we need now. Its a social network but used for a better purpose.
        .testimonials
          %header
            Testimonies
          %blockquote
            Oogway a great thing we need now. Its a social network but used for a better purpose.
        .oogway-video{style: 'border: 1px solid #ddd; padding: 1em'}
          %header
            Oogway Videos
          .content
            Videos about oogway


    %br
    .row.text-center
      %header
        Top Contributors
      %ul.large-block-grid-3.small-block-grid-1.medium-block-grid-2
        - @contributors.each do |us|
          %li
            = link_to image_tag(us.profile.try(:avatar).try(:small) || 'bvs.jpg', class: 'th' ), profile_path(user_name: (us.user_name || us))

    %br
    .row
      %header.text-center
        Top Contributors
      .team-pics
        %br
        %ul.large-block-grid-3.small-block-grid-1.medium-block-grid-2
          - 5.times do |i|
            %li
              = link_to image_tag('bvs.jpg', class: 'th'), 'javascript:void(0)'
              Author Name
          %li
            How to become a top contributor
