.row
	.large-7.medium-7.columns
		= render 'posts/post', posts: @posts
	.large-5.medium-5.columns.white-backgrnd
		- unless user_signed_in?
			.pad-1
				= render 'devise/shared/login'
		= render 'shared/tags', tags: Tag.list
