%br
.row
	TO DO
	%hr
	%ul.large-block-grid-4
		%li
			Activity , get suggestions from user in some survey channel which every user had to follow
		%li
			Create Cv
		%li
			JOBS, search companies but irrelevant
		%li
			forgot attachments other than images, forgot internship
