<%= semantic_form_for @answer do |f| %>
  <%= f.inputs do %>
    <%= f.input :channel %>
    <%= f.input :user %>
    <%= f.input :contents %>
    <%= f.input :post %>
    <%= f.input :question %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
