<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @answer.channel %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @answer.contents %>
</p>

<p>
  <strong>Post:</strong>
  <%= @answer.post %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
