<div class="no-bullet">
  <%= semantic_form_for([:administrator, @post]) do |f| %>
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :description, input_html: { rows: 5}  %>
      <%= f.input :postable_type %>
      <%= f.input :postable_id, as: :string, input_html: { value: f.object.postable.fetch_title, disabled: true } %>
      <%    #= f.input :post_category_id, as: :select, collection: PostCategory.pluck(:name, :id), prompt: 'Please Select',	input_html: { disabled:  true, "data-option-dependent" => true,	"data-option-observed" => "post_channel_id", "data-option-url" => "/administrator/post_categories/fetch_categories_for_type.json",    	"data-option-key-method" => :id, "data-option-value-method" => :name} 
        %>
        <%= f.input :status_id, as: :select, collection: Status.pluck(:name, :id),label_method: :id , prompt: 'Please Select' %>
      <%= f.action :submit, as: :input %>
    <% end %>
  <% end %>
</div>  
