<div class="wrapper">
<div class="row">
  <div class="large-12 columns">
    <h4>Listing Posts</h4>
    <%= grid(@posts) do |g|
      g.column name: 'Title', attribute: 'name'
      g.column name: 'Description', attribute: 'description' do |post|
        raw post.description[0..150]
      end
      g.column name: 'Channel', model: 'Channel', attribute: 'name' 

      g.column name: 'Status', model: 'Status', attribute: 'name' 

      g.column name: 'Actions'  do |task|
        link_to('', administrator_post_path(task), class: 'fa fa-eye', title: 'Show') + \
         ' | ' + \
        link_to('', edit_administrator_post_path(task), class: 'fa fa-pencil-square-o', title: 'Edit') +  \
        ' | ' + \
        link_to('', administrator_post_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete')

      end
    end -%>

    <%= link_to_if current_user, 'New Post', new_administrator_post_path, class: 'button tiny' %>
  </div>
</div>
</div>
