<div class='row'>
	<div class='large-2 columns'>
	  &nbsp;
	</div>
	<div class='large-8 columns end white-backgrnd' style="border: 1px solid #ddd">
		<%= render_navigation(context: :post)%>
		<div class='inner-wrapper'>
			<strong>Channel: <%= @post.channel.name %></strong>
		  <hr>
			<strong>Post:<%= @post.name %></strong>
		  <hr>
		  <%= raw @post.description %>
		  <%= image_tag(@post.post_images.first.try(:image).try(:medium), class: 'th') %>
		  <hr>
		  <%= link_to 'Edit', edit_administrator_post_path(@post) %> |
			<%= link_to 'Back', administrator_posts_path %>
		</div>
	</div>
</div>
<br>
