<section class='top-section'>
  <%= render 'layouts/header' %>
</section>
<div class="row">
  <h5>Listing Channel Types</h5>

  <table>
    <thead>
      <tr>  
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th colspan="3">Action  </th>
      </tr>
    </thead>

    <tbody>
      <% @channel_types.each do |channel_type| %>
        <tr>
          <td><%= channel_type.title %></td>
          <td><%= raw channel_type.description %></td>
          <td><%= image_tag(channel_type.image.small, class: 'th') %></td>
          <td><%= link_to 'Show', channel_type %></td>
          <td><%= link_to 'Edit', edit_channel_type_path(channel_type) %></td>
          <td><%= link_to 'Destroy', channel_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Channel type', new_channel_type_path %>
</div>
