<p>
  <strong>Title:</strong>
  <%= @channel_type.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel_type.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @channel_type.image %>
</p>

<%= link_to 'Edit', edit_channel_type_path(@channel_type) %> |
<%= link_to 'Back', channel_types_path %>
