- path = nil
- if action_name == 'edit'
  - path = project_path(id: @project.id)
%h5
  Projects
%hr{style: 'width:90%;'}
= semantic_form_for @project, url: path do |f|
  -# if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title
  = f.input :description
  - types = [['School', 'School'], ['College', 'College'], ['Work', 'Work']]
  = f.input :type, as: :select, collection: types
  = f.input :from, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'From'
  = f.input :to, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'To'

  = f.input :role
  = f.input :team_size
  = f.input :skill_list, as: :select, 
    collection: Skill.all, label: false, multiple: true
  %br
  .actions
    = f.submit 'Save', class: 'button tiny radius success'
    = link_to 'Back', projects_path, class: 'button secondary tiny radius'
:javascript
$(document).ready(function(){
  $('#project_skill_list').select2({
    tags: true,
    placeholder: 'Skills used'
  })
})
