- if projects.present?
  %div{style: 'padding: 1em'}
    %h1 Listing projects

    %table
      %thead
        %tr
          %th User
          %th Profile
          %th Title
          %th Description
          %th Duration
          %th Role
          %th Team size
          %th
          %th
          %th

      %tbody
        - projects.each do |project|
          %tr
            %td= project.user
            %td= project.profile
            %td= project.title
            %td= project.description
            %td= project.duration
            %td= project.role
            %td= project.team_size
            %td= link_to 'Show', project
            %td= link_to 'Edit', edit_project_path(project)
            %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  No projects found
