%p#notice= notice

%p
  %b User:
  = @project.user
%p
  %b Profile:
  = @project.profile
%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Duration:
  = @project.duration
%p
  %b Role:
  = @project.role
%p
  %b Team size:
  = @project.team_size

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
