- path = nil
- if action_name == 'edit'
	- path = experience_path(id: @experience.id)
%h5
	New Experience
= semantic_form_for @experience, url: path do |f|
	= f.input :company_name, label: false, placeholder: 'Company Name'
	= f.input :designation, label: false, placeholder: 'Designation'
	= f.input :from, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'From'
	= f.input :to, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'To'
	= f.submit 'Submit', as: :input, class: 'button tiny radius success'
	= link_to 'Back', experiences_path
