<div style="padding: 1em">
  <h3>Listing Experiences</h3>
  <table>
    <thead>
      <tr>
        <th>Company name</th>
        <th>Designation</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @experiences.each do |experience| %>
        <tr>
          <td><%= experience.company_name %></td>
          <td><%= experience.designation %></td>
          <td><%= experience.from %></td>
          <td><%= experience.to %></td>
          <td><%= distance_of_time_in_words(experience.from, experience.to)%></td>
          <% if can? :update experience %>
            <td><%= link_to 'Show', experience_path(experience.user.user_name, experience) %></td>
            <td><%= link_to 'Edit', edit_experience_path(experience.user.user_name, experience) %></td>
            <td><%= link_to 'Destroy', experience_path(experience.user.user_name, experience), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
