

<p>
  <strong>Company name:</strong>
  <%= @experience.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @experience.designation %>
</p>

<p>
  <strong>From:</strong>
  <%= @experience.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @experience.to %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience.user.user_name, @experience) %> |
<%= link_to 'Back', experiences_path %>
