<%= semantic_form_for([:administrator, @channel]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, input_html: { rows: 5 }  %>
  <%= f.input :status_id, as: :select, collection: Status.pluck(:name, :id),label_method: :id , prompt: 'Please Select' %>
  <%= f.input :channel_type_id, as: :select, collection: ChannelType.pluck(:title, :id),label_method: :id , prompt: 'Please Select' %>
  <%= f.action :submit, as: :input %>
<% end %>
