<div class="row">
<div class="large-12 columns">
  <h4>Listing Post Types</h4>
  <%= grid(@channels) do |g|
    g.column name: 'Title', attribute: 'name'
    g.column name: 'Description', attribute: 'description' do |channel|
      raw channel.description
    end

    g.column name: 'Actions'  do |task|
      link_to('', administrator_channel_path(task), class: 'fa fa-eye', title: 'Show') + \
       ' | ' + \
      link_to('', edit_administrator_channel_path(task), class: 'fa fa-pencil-square-o', title: 'Edit') +  \
      ' | ' + \
      link_to('', administrator_channel_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete')

    end
  end -%>
  <%= link_to 'New Post type', new_administrator_channel_path %>
</div>  
</div>