<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<%= link_to 'Edit', edit_administrator_channel_path(@channel) %> |
<%= link_to 'Back', administrator_channels_path %>
