<%= semantic_form_for @content_image do |f| %>
  <%= f.inputs do %>
    <%= f.input :image %>
    <%= f.input :image_url %>
    <%= f.input :post_content %>
    <%= f.input :post %>
    <%= f.input :channel %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
