<p id="notice"><%= notice %></p>

<h1>Listing Content Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Image url</th>
      <th>Post content</th>
      <th>Post</th>
      <th>Channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_images.each do |content_image| %>
      <tr>
        <td><%= content_image.image %></td>
        <td><%= content_image.image_url %></td>
        <td><%= content_image.post_content %></td>
        <td><%= content_image.post %></td>
        <td><%= content_image.channel %></td>
        <td><%= link_to 'Show', content_image %></td>
        <td><%= link_to 'Edit', edit_content_image_path(content_image) %></td>
        <td><%= link_to 'Destroy', content_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content image', new_content_image_path %>
