<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @content_image.image %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @content_image.image_url %>
</p>

<p>
  <strong>Post content:</strong>
  <%= @content_image.post_content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @content_image.post %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @content_image.channel %>
</p>

<%= link_to 'Edit', edit_content_image_path(@content_image) %> |
<%= link_to 'Back', content_images_path %>
