<%= semantic_form_for @subscription do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :user %>
    <%= f.input :subscribe %>
    <%
    #= f.input :subscribable 
    %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
