<div class="row ">
  <div class="large-centered large-4 medium-centered medium-4 columns white-backgrnd">
    <div class="pad-1">
      <%= render "devise/shared/login" %>  
    </div>
    
  </div>
</div>
    <!-- <h3 class="text-center pad-1">
      <strong>SHARE YOUR KNOWLEDGE</strong>
    </h3>
    <div class="text-center">
    <%= image_tag('share-login-1.jpg') %>
    </div>
    <h4 class="text-center  pad-1">
      <strong> Educate. Network. Influence</strong>
    </h4> -->
    
