
<div class="row collapse">
  <div class="large-4 columns auth-plain">
    <div class="signup-panel left-solid">
      <p class="welcome">Registered Users</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row collapse">
          <h4>Log in</h4>
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-torso-female"></i></span>
          </div>
          <div class="small-10  columns">
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10  columns">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in", class: 'button tiny' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="large-4 columns auth-plain" style="margin-left: 1em">
    <div class="signup-panel newusers">
      <p class="welcome"> New User?</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="row collapse">
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-torso-female"></i></span>
          </div>
          <div class="small-10  columns">
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10  columns">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2  columns">
            <span class="prefix"><i class="fi-lock"></i></span>
          </div>
          <div class="small-10  columns">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign up" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="large-4 columns">
    <div>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{provider.to_s.split('_').first.titleize}", omniauth_authorize_path(resource_name, provider), class: 'button tiny' %><br />
      <% end -%>
    <% end -%>
    </div>
  </div>
</div> 