<p id="notice"><%= notice %></p>

<h1>Listing Post Type Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Post type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channel_images.each do |channel_image| %>
      <tr>
        <td><%= channel_image.name %></td>
        <td><%= channel_image.description %></td>
        <td><%= channel_image.channel %></td>
        <td><%= link_to 'Show', channel_image %></td>
        <td><%= link_to 'Edit', edit_channel_image_path(channel_image) %></td>
        <td><%= link_to 'Destroy', channel_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post type image', new_channel_image_path %>
