<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel_image.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel_image.description %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @channel_image.channel %>
</p>

<%= link_to 'Edit', edit_channel_image_path(@channel_image) %> |
<%= link_to 'Back', channel_images_path %>
