<%= semantic_form_for @college do |f| %>
  <%= f.inputs do %>
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :location %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>


<div class="row">
	Import Products
	<%= form_tag import_colleges_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Import" %>
	<% end %>
</div>
