<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @college.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @college.location %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
