<%= semantic_form_for([:administrator, @channel_type]) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description, input_html: { rows: 5 }  %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, as: :input %>
  <% end %>
<% end %>
