<div class='row'>
<h1>Listing Post Types</h1>

  <%= grid(@channel_types) do |g|
    g.column name: 'Title', attribute: 'title'
    g.column name: 'Description', attribute: 'description'

    g.column name: 'Actions'  do |task|
      link_to('', administrator_channel_type_path(task), class: 'fa fa-eye', title: 'Show') + \
       ' | ' +
      link_to('', edit_administrator_channel_type_path(task), class: 'fa fa-pencil-square-o', title: 'Edit') + ' | ' +
      link_to('', administrator_channel_type_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash', title: 'Delete')

    end
  end -%>
</div>

<%= link_to 'New Post type', new_administrator_channel_type_path %>
