<p>
  <strong>Name:</strong>
  <%= @channel_type.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel_type.description %>
</p>

<%= link_to 'Edit', edit_administrator_channel_type_path(@channel_type) %> |
<%= link_to 'Back', administrator_channel_types_path %>
