<div>	
	<%= semantic_form_for([:administrator, @post_category]) do |f| %>
	  <%= f.inputs do %>
	  	<%= f.input :channel_id, as: :select, collection: Channel.pluck(:name, :id), prompt: 'Please Select' %>
	    <%= f.input :name %>
	    <%= f.input :description, input_html: { rows: 5 } %>
	  <% end %>

	  <%= f.actions do %>
	    <%= f.action :submit, as: :input %>
	  <% end %>
	<% end %>
</div>