<h1>Editing Administrator Post Category</h1>

<%= render 'form' %>

<%= link_to 'Back', administrator_post_category_path(@post_category) %> |
<%= link_to 'Cancel', administrator_post_categories_path %>
