<h1>Listing Administrator Post Categories</h1>

<table>
  <thead>
    <tr>
      <th>Post Type</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @post_categories.each do |post_category| %>
      <tr>
        <td><%= post_category.channel.name %></td>
        <td><%= post_category.name %></td>
        <td><%= post_category.description %></td>
        <td><%= link_to 'Show', administrator_post_category_path(post_category) %></td>
        <td><%= link_to 'Edit', edit_administrator_post_category_path(post_category) %></td>
        <td><%= link_to 'Destroy', administrator_post_category_path(post_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post category', new_administrator_post_category_path %>
