<p id="notice"><%= notice %></p>

<p>
  <strong>Post Type:</strong>
  <%= @post_category.channel.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_category.description %>
</p>

<%= link_to 'Edit', edit_administrator_post_category_path(@post_category) %> |
<%= link_to 'Back', administrator_post_categories_path %>
