%ul.sub-nav.no-bullet
	%li
		Attachments:
	- attachments.each do |attachment|
		- attachment_url = attachment.try(:link).try(:url)
		- next unless attachment_url
		%li.label.tiny.secondary.radius
			= link_to '', attachment_url, target: '_blank', class: 'fa fa-file fa-2x'
			= attachment_url.try(:split, '/').try(:last)
