<fieldset>
New Image
	<% if f.object.try(:image).present? %>
		<% image_present = false %>
		<%= image_tag(f.object.image.small) %>
	<% else %>
		<%= f.input :image, as: :file %>
	<% end %>	
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Image", "javascript:void(0)", class: 'remove_fields' %>
</fieldset>
