-# if user_signed_in? 
  .jh
    %div.large-2.columns
      /
        = link_to 'Home', posts_path, class: 'button tiny radius'
        = link_to 'Explore', explore_channels_path, class: 'button tiny radius'
      = link_to "Create Channel", new_channel_path, title: 'New Way', class: 'button tiny radius success'
      /
        %a.button.tiny.radius{"data-reveal-ajax" => "true", "data-reveal-id" => "add_post", :href => list_channels_channels_path} Add Post
        #add_post.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
%section.middle-section.pad-1{:style => "padding-bottom: 1em;"}
  .row.collapse.full-width
    .large-9.medium-9.columns
      .row.collapse
        .off-canvas-wrap{"data-offcanvas" => ""}
          .inner-wrap
            .large-3.medium-5.columns
              .show-for-small
                %nav.tab-bar
                  %section.middle.tab-bar-section
                    %h1.title#post-menu Menu
                  %section.left-small
                    %a.left-off-canvas-toggle.menu-icon{href: "javascript:void(0)"}
                      %span
                %aside.left-off-canvas-menu{style: 'min-height: 19em'}
                  = render 'posts/left_section'
              .hide-for-small-only
                = render 'posts/left_section'
              %br.show-for-small
            .large-9.medium-7.columns.main-section#post_index{style: "padding-left: 0em"}
              = render 'posts/post', posts: @posts
              - if @posts.present?
                %div
                  = paginate @posts
            %a.exit-off-canvas
    .large-3.medium-3.columns.white-backgrnd.hide-for-small-only{:style => "padding-right: 0.5em"}
      - if user_signed_in? && !current_user.profile
        %div
          = link_to 'Create Profile', new_profile_path, class: 'button tiny radius success'
      .right-section.white-backgrnd{style: 'padding-left: 5px'}  
        = render 'shared/tags', tags: Tag.popular_post, header: 'Popular Tags'

