<div class='panel white-backgrnd'>
  <header id="header" class="">
    <% header = params[:action] == 'edit' ? 'edit' : 'new' %>
    <%= header.concat(' post').titleize %>
  </header>
  <%= semantic_form_for @post do |f| %>  
    <div>
      <%= f.input :name, label: false, placeholder: 'Title' %>
      <%= f.hidden_field :postable_id, value: @postable.id %>
      <%= f.hidden_field :postable_type, value: @postable.class %>
    </div>
    <div>
      <p><%= f.input :tag_list, as: :select, 
      collection: Tag.pluck(:name, :name), label: false, multiple: true %></p>
    </div>
    <div>
      <%= f.input :description, label: false, placeholder: 'Description', input_html: {rows: 5, cols: 20} %>
    </div>
    <div>
      <%= f.semantic_fields_for :post_images do |post_image| %>
      	<%= post_image.input :image, as: :file %>
        <%= post_image.hidden_field :image_cache %>
        <% if post_image.object.try(:image).present? %>
          <%= image_tag(post_image.object.image, height: '50', width: '75', class: 'th') %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= f.semantic_fields_for :attachments do |attach| %>
        <%= attach.input :link, as: :file %>
        <%= attach.hidden_field :link_cache %>
        <% if attach.object.try(:link).present? %>
          <%= link_to attach.object.link.url.try(:split, '/').try(:last), attach.object.link.url, target: '_blank' %>
        <% end %>
      <% end %>
    </div>
    <!-- <div>
      Sections:
        <%= f.semantic_fields_for :post_contents do |content| %>
          <%= render 'post_content_fields', f: content %>
        <% end %>
        <%= link_to_add_fields("Add Contents", f, :post_contents) %>
    </div> -->
    <!-- <div>
      <%= f.input :postable_id, as: :select, collection: Channel.pluck(:name, :id), prompt: 'Please Select', required: true %>
    </div> -->
    <div>
      <% actionname = action_name == :new ? 'Create Post' : 'Update Post' %>
      <%= f.submit actionname, class: 'button tiny radius' %>
      <%= link_to 'Back', posts_path%>
    </div>
  <% end %>
</div>
