-# posts = Post.includes(:post_images).last(5)#where('updated_at::date > ?', Date.current - 40.days) 
	- if posts.size.nonzero?
		%ul.no-bullet
			%li.text-center.relatedHeader
				Latest
			-	posts.each_with_index do |post, index|
				%li.text-center.relatedWrapper
					.row.collapse
						.large-7.columns{style: 'padding-left: 0.3em;'}
							= link_to post.name, post_path(post)
							= raw post.description[0..75]
						.large-5.columns{style: 'padding-left: 0.3em; margin-top: 0.5em;  margin-bottom: 0.5em'}
							= link_to image_tag(post.post_images.first.try(:image).try(:small), align: 'left'), post_path(post)
