- if user_signed_in?
  -# %div{:style => "background-color: #00a99d; padding: 1em ;"}
    .text-center
      - if current_user && current_user.profile && current_user.profile.avatar.present?
        = link_to image_tag(current_user.profile.avatar.try(:small), class: "round-img margin-1 white-backgrnd"), profile_path(current_user)
      - else
        %i.user-icon.round-img
    .text-center= current_user.email
  .profile
    = render 'users/profile', user: current_user

  %ul.no-bullet
    %li.divide
      = link_to  subscription_user_path(current_user.user_name || current_user), remote: true do
        Feed
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to my_posts_path, remote: true do
        My Posts
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to my_channels_path, remote: true do
        My Channels
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to recommended_channels_path, remote: true do
        Recommended
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    -#
      %li.divide
        = link_to my_classes_user_path(current_user.user_name || current_user), remote: true do
        My Classes
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
      %ul.accordion{'data-accordion' => ''}
        %li.accordion-navigation
          %a{href: '#assignment_group'} Assignments
          .content#assignment_group.panel
            = link_to pending_users_path, remote: true do
              Pending
              %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
            = link_to completed_users_path, remote: true do
              Completed
              %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
            -#= link_to 'InComplete', incomplete_users_path, remote: true
    %li.divide
      = link_to latest_post_posts_path, remote: true do
        Latest Post
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to manage_subscriptions_user_path(current_user.user_name || current_user), remote: true do
        Manage Subscriptions
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to followers_user_path(current_user.user_name || current_user), remote: true do
        Followers
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    %li.divide
      = link_to following_user_path(current_user.user_name || current_user), remote: true do
        Following
        %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
    / %li
    /   = link_to 'My Activity', activities_path, remote: true
-# if user_signed_in?
  %div{:style => "margin-top: 1em;"}
    %ul.no-bullet.white-backgrnd{:style => "margin-top: 1em;"}
      %li{:style => "background-color: #00a99d; border: 1px solid #ddd; padding: 0.3em ;"} Following:
      - current_user.my_subscriptions.includes(:subscribable).each do |us|
        %li{:style => "border: 1px solid #ddd; padding: 0.3em ;"}
          = link_to channel_path(us.subscribable) do
            = us.subscribable.name
            %i.right.fa.fa-angle-right{style: 'padding-top: 5px'}
