<!-- <div class="sticky large-1 medium-1 columns side-nav hide-for-small">
	<%= render 'social_media'%>
	 <g:plus action="share"></g:plus>
</div> -->

<div class="show-for-small">	
	<ul class="tabs contained" data-tab>
	  <li class="tab-title active">
	  	<a href="#panel1">Thought</a>
	 	</li>
	  <li class="tab-title"><a href="#panel2">Comment</a></li>
	  <li class="tab-title"><a href="#panel3">Channel</a></li>
	  <li class="tab-title"><a href="#panel4">Author</a></li>
	</ul>
	<div class="tabs-content contained">
	  <div class="content active" id="panel1">
	    <%= render 'bread_crumb', post: @post %>
	    <div class="blog-post white-backgrnd" style="margin-top: 1em">
		  	<span class="flash"></span>
		  	<div class="row">
		  		<div class="large-12 columns">
		  			<%= render 'title', post: @post %>
		  			<%= render 'tags', tags: @post.tags, post: @post %>
		  		</div>
	      </div>
	      <div class='row'>
	      	<div style="padding: 1em;">
		      	<%= raw @post.description %>
	      		<br>
	      		<% if @post.post_images.present? %>
	      			<%= image_tag(@post.try(:post_images).try(:first).try(:image))%>
	      		<% end %>
	      	</div>
	      	<div class="pad-1 attachments">
	      		<%= render 'attachments', 
	      								attachments: @post.attachments %>
      		</div>
	      </div>
	      <div style="padding: 1em;">
	      	Was it helpful?
	      	<ul class="sub-nav no-bullet">
	      		<li>
	      			<span id='display-like'><%= @post.votes.select(&:vote_flag).size %></span>
		      		<%= link_to '', [:like, @post], remote: true, method: :post, class: 'fa fa-thumbs-up fa-2x' %>
	      		</li>
		      	<li>
		      		<span id='display-dislike'>
			  				<%= @post.votes.reject(&:vote_flag).size %>
			  			</span>
			  			<%= link_to '', [:dislike, @post], remote: true, method: :post, class: 'fa fa-thumbs-down fa-2x' %>	
		      	</li>
				  	<li>
				  		<a id='share_dialog' href='javascript:void(0)' data-reveal-id="share_modal"> 
							  Share
							</a>
							<div class="reveal-modal small" id="share_modal"  role='dialog' data-reveal>
								<a class='close-reveal-modal' 'aria-label'='Close'>
								  &#215;
								</a>
								<%= render 'social_media'%>
							</div>
				  	</li>
			  	</ul>
	      </div>
			</div>
	  </div>
	  <div class="content white-backgrnd" id="panel2">
	    <div class='comment-container' style="padding: 1em">
				<header>
					Comment
				</header>
				<div class="comment-form">
					<p class='comment-sr'></p>
						<%= render 'comments/form' %>
				</div>
				<br>
				<% if @post.comments.any? %>
					<div>
			  		<%= nested_comments @post.comments.includes(:user).arrange(order: :created_at) %>
					</div>
				<% end %>
			</div>
	  </div>
	  <div class="content" id="panel3">
	    <div class='panel white-backgrnd' style="border: 1px solid #ddd;">
				<div class="content">
	        <p><span class="title">
						<%= link_to @post.postable.fetch_title, [@postable]%>
					</span>
	        <%= raw @post.postable.description %>
	        </p>
	      </div>
	      <hr>
	      <div class="row collapse user-stats" >
					<div class="small-3 columns">
						<%= @post.postable.posts.size %><br>
						<h6><small>Posts</small></h6>
					</div>
					<div class="small-4 columns">
						<%= @post.postable.subscriptions.select(&:subscribe).size %><br>
						<h6><small>Subscribers</small></h6>
					</div>
					<div class="small-5 columns">
						<%= render 'channels/subscription', channel: @postable %>
					</div>
				</div>
			</div>
	  </div>
	  <div class="content" id="panel4">
	    <div class="author text-center" >
					<%= render 'users/author', user: @post.user, author: false %>
				</div>
	  </div>
	</div>
</div>
