- if posts.size.nonzero?
  %ul.no-bullet
    %li.text-center.relatedHeader
      More from #{posts.first.postable.try(:fetch_title)}
    - posts.each_with_index do |post, index|
      %li.relatedWrapper.white-backgrnd
        .row.collapse
          .large-7.columns{:style => "padding-left: 0.3em;"}
            = link_to post.name, post_path(post)
            = raw post.description[0..75]
          .large-5.columns{:style => "padding: 5px"}
            = link_to image_tag(post.post_images.first.try(:image), width: 50, height: 50, align: 'left'), post_path(post)
