<div class='add-contents'>
	<%= f.input :name %>
	<%= f.input :description, input_html: {:class => "tinymce", rows: 5, cols: 20} %>
	<%= f.hidden_field :_destroy %>
	<% image_present = true %>
	<%= f.semantic_fields_for :content_images do |builder| %>
		<%= render 'content_image_fields', f: builder%>
	<% end %>
	<%= link_to_add_fields("Add Image", f, :content_images) if image_present %>
	<%= link_to "Remove Contents", "javascript:void(0)", class: 'remove_fields' %>
</div>

<%
#
#= f.semantic_fields_for :content_images do |content| 
#    link_to_add_association "Add Image", f, :content_images 
# end 
 %>
