- posts = @posts if @posts 
- if posts.size.zero?
  No posts to display
- else
  - posts.each do |post|
    - likes = post.votes.select(&:vote_flag).size
    - dislikes = post.votes.reject(&:vote_flag).size
    .white-backgrnd.post-list
      .post-container
        %header#post_id{value: post.id, style: 'border-bottom: 1px solid #ddd; padding-top: 5px;'}
          = link_to post.name, post_path(post)
          %small.right
            from
            = link_to post.postable.try(:fetch_title),
              [post.postable]
            = time_ago_in_words(post.updated_at)
            ago
          -# if post.postable
            %a{"data-dropdown" => "hover-#{post.id}", "data-options" => "is_hover:true; hover_timeout:100", :href => "javascript:void(0)", style: 'float:right'}
              %i.fa.fa-navicon
            %ul.f-dropdown{"data-dropdown-content" => "", :id => "hover-#{post.id}"}
              %li
                = render 'channels/subscription', channel: post.postable
        - unless post.tags.blank?
          %div{style: 'padding-top: 5px;' }
            = render 'posts/tags', tags: post.tags
        .row
          .large-8.columns
            = raw post.description[0..150]
            %div
              %i.fa.fa-thumbs-up{title: 'likes'}= likes
              &nbsp;
              %i.fa.fa-thumbs-down{title: 'dislikes'}= dislikes
              &nbsp;
              %i.fa.fa-comments{title: 'comments'}= post.comments.size
          .large-4.small-12.columns
            .post-img
              %a{href: post_path(post)}
                = image_tag(post.try(:post_images).try(:first).try(:image).try(:medium), align: 'center', class: 'th')
          
            

