<div class='no-bullet'>
	<%= semantic_form_for @question, remote: true do |f| %>
	  <%= f.hidden_field :post_id, value: @post.id %>
	  <%= f.hidden_field :channel_id, value: @post.channel.id %>
	  <%= f.input :contents, as: :text, label: false, placeholder: 'Ask your Question here', input_html: {rows: 5, cols: 20}  %>
	  <%= f.action :submit, as: :input, class: 'button tiny radius' %>
	<% end %>
</div>
