%h5{style: "color: #fff;"}
	Creating a Post:
%ul
	- if @postable
		%li
			Stay on topic for #{link_to @postable.try(:fetch_title), [@postable], style: "color: #fff;"}
	%li
		Follow the Channel Rules.
	%li
		Post must relate to education or awareness.
	%li
		Post will be rejected if it doesn't fell under education or awareness.
