<div class="fb-share-button " data-href="<%= request.original_url%>" data-layout="button" data-mobile-iframe="true">FB
</div>
<a href="https://plus.google.com/share?url=<%= request.original_url%>" onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no, resizable=yes,scrollbars=yes, height=600, width=600');return false;">
	<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/>
</a>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>

<div id="fb-root"></div>
<script>
  window.___gcfg = {
    lang: 'en-US',
    parsetags: 'onload'
  };
</script>

<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));
</script>
