%h4 
	= post.name
	- if can? :update, post
		= link_to '', edit_post_path(@post), class:'fa fa-pencil-square-o', title: 'Edit'
%hr
%span.show-for-small
	from 
	= link_to post.postable.fetch_title, [post.postable]
