
<div class="row pad-1">
	<div class='large-2 columns hide-for-small-only' style=" background: #2e9fff none repeat scroll 0 0;border-color: #2e9fff; color: #fff; ">	
		<%= render 'rules' %>
	</div>
  <div class="large-7 columns no-bullet ">
		<%= render 'form' %>
	</div>
	<div class="large-3 columns">
		<div style="margin-left: -1em;">
			<%= render 'channels/list_ch', channel: @postable %>	
			<%= render 'users/contributors', contributors: @postable.try(:contributors) %>
		</div>
		<div class="right-section" style="padding-top: 1em; margin-left: 1em;">
			<%= render 'latest' %>
		</div>
	</div>
</div>


