<% if user_signed_in? %>  
  <% if @postable && params[:channel_id].present? %>
    <%= render 'channels/channel_cover', channel: @postable %>
    <div class="row" style="padding-top: 1em;" >
      <div class='large-2 medium-2 columns white-backgrnd show-for-large-only'> 
        <%= render 'channels/channel_tags', tags: @postable.try(:tags), channel: @postable %>
      </div>
      <div class="large-7 medium-9 columns no-bullet">
        <%= render 'post', posts: @posts %>
      </div>
      <div class="large-3 medium-3 columns hide-for-small-only">
        <div class="author text-center" style="margin-left: -1em;">
          <%= render 'users/author', user: @postable.user, author: true %>
        </div>
        <div style="margin-left: -1em;">
          <%= render 'users/contributors', contributors: @postable.try(:contributors) %>
        </div>
        <div class="show-for-medium-only" style="margin-left: -1em; padding-left: 1em;padding-top: 1em">
          <%= render 'channels/channel_tags', tags: @postable.tags, channel: @postable %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'dashboard' %>
  <% end %>
<% else %>
  <div class="row pad-1">
    <div class="large-7 columns">
      <%= render 'post', posts: @posts %>
      <% if @posts.present? %>
        <div>
          <%= paginate @posts %>
        </div>
      <% end %>
    </div>
    
    <div class="large-5 columns white-backgrnd ">
      <% unless user_signed_in? %>
        <div class="pad-1">
          <%= render 'devise/shared/login' %>  
        </div>
      <% end %>
      <div>
        <%= render 'shared/tags', tags: Tag.list, header: 'Popular Tags' %>
      </div>
    </div>
  </div>
<% end %>
