<% if params[:channel_id]%>
	$('#ch_content').html("<%= escape_javascript(render(@posts, posts: @posts))%>")
<% else %>
	$('#post_index').append("<%= escape_javascript(render(@posts, posts: @posts))%>")
	<% if @posts.next_page %>
		$('.pagination').replaceWith("<%= escape_javascript(render(@posts, posts: @posts))%>");
	<% else %>
		$('.pagination').remove()
	<% end %>
<% end %>
