<div class="row full-width">
  <div class='large-3 columns margin-1 hide-for-small-only'>
    <%= render 'left_section' %>
  </div>
  <div class="large-6 columns margin-1">
    <article>
      <%= render 'post', posts: @posts%>
    </article>
  </div>
  <div class="large-3 columns margin-1 hide-for-small-only">
    <div class="panel"  style="background-color: #00a99d; margin: 0em 1em 0em -3.4em ;">
        <p class='text-center' style='color: #fff; text:center'>
          Have an Way share it.
        </p>
        <%= link_to "Add Channel", channels_path, class: 'button tiny',style: "background-color: #00a99d; box-shadow: 0 0 1px 0 rgba(#fff); " %>
        <%= link_to "Add Way", new_post_path, class: 'button tiny',style: "margin: 1em;background-color: #00a99d;box-shadow: 0 0 1px 0 rgba(#fff);"  %>
      </div>
  </div>
</div>
