	<div class="full-width">
		<%= render 'mobile_show' %>
		<div class="row pad-1 hide-for-small">
			<%= render 'bread_crumb', post: @post%>
			<div class="large-9 medium-8 columns white-backgrnd">
				<div class="blog-post">
			  	<span class="flash"></span>
		  		<div class="post-title">
		  			<%= render 'title', post: @post %>
			  		<% if @post.tags.present? %>
			  			<%= render 'tags', tags: @post.tags, post: @post  %>
			  		<% end %>
		  		</div>
		      <div class='post-content'>
		      	<div class="pad-1">
			      	<%= raw @post.description %>
		      		<br>
		      		
		      		<% if @post.post_images.present? %>
		      			<div class="post-img">	
		      				<%= image_tag(@post.try(:post_images).try(:first).try(:image))%>
		      			</div>
		      		<% end %>

		      	</div>
		      	<div class="attachments">
		      		<%= render 'attachments', attachments: @post.attachments %>
		      	</div>
		      </div>
		      <div>
		      	<ul class="sub-nav no-bullet">
		      		<li>
		      			<span id='display-like'><%= @post.votes.select(&:vote_flag).size %></span>
			      		<%= link_to '', [:like, @post], remote: true, method: :post, class: 'fa fa-thumbs-up fa-2x' %>
		      		</li>
			      	<li>
			      		<span id='display-dislike'>
				  				<%= @post.votes.reject(&:vote_flag).size %>
				  			</span>
				  			<%= link_to '', [:dislike, @post], remote: true, method: :post, class: 'fa fa-thumbs-down fa-2x' %>	
			      	</li>
					  	<li>
					  		<a id='share_dialog' href='javascript:void(0)' data-reveal-id="share_modal"> 
								  Share
								</a>
								<div class="reveal-modal small" id="share_modal"  role='dialog' data-reveal>
									<a class='close-reveal-modal' 'aria-label'='Close'>
									  &#215;
									</a>
									<%= render 'social_media'%>
								</div>
					  	</li>
				  	</ul>
		      </div>
				</div>
				<hr>
				<div class='comment-container pad-1'>
					<header>
						Comment
					</header>
					<div>
						<p class='comment-sr'></p>
							<%= render 'comments/form' %>
					</div>
					<br>
					<% if @post.comments.any? %>
						<div>
				  		<%= nested_comments @post.comments.includes(:user).arrange(order: :created_at) %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="large-3 medium-4 columns hide-for-small-only">
				<div class="ch" >
					<%= render 'channels/list_ch', channel: @post.postable %>
				</div>	
				<div class="author" >
					<%= render 'users/author', user: @post.user, author: true %>
				</div>
			  <div class=''>
			  	<%= render 'shared/tags', tags: @tags, header: 'Popular Tags' %>
			  </div>	
			</div>
		</div>
		<br>
		<% if @more_posts.size.nonzero? %>
			<div class='row'>
				<header>
					Related Post
				</header>
				<div>
					<ul class="small-grid-block-1">
						<%= render 'profiles/contributions', posts: @more_posts %>
					</ul>
				</div>
			</div>
		<% end %>
	</div>

            
