<div class="row">
	<div class="large-8 columns">
		<%= semantic_form_for @post_content do |f| %>
		  <%= f.input :description %>
		  <%= f.input :post %>
		  <%= f.input :channel %>
		  <%= f.action :submit, :as => :input %>
		<% end %>
	</div>
</div>