<div class='row'>
	<div class='large-2 columns'>
	  &nbsp;
	</div>
	<div class='large-8 columns end white-backgrnd' style="border: 1px solid #ddd">
		<div class='nav-links' style="border-bottom: 1px solid #ddd">	
			<ul class='inline-list'>
				<li>
					<%= link_to 'Manage Post', posts_path %>
				</li>
				<li>
					<%= link_to 'Post', post_path(@post) %>
				</li>
				<li class="active">
					<%= link_to 'Manage Contents', post_contents_path %>
				</li>
				<li>
					<%= link_to 'Manage Images', post_images_path %>
				</li>
				
			</ul>
		</div>
		<div class="container"  style="border: 1px solid #ddd">
			<p>
			  <strong>Content:</strong>
			  <%= raw @post_content.description %>
			</p>

			<p>
			  <strong>Post:</strong>
			  <%= @post_content.post.try(:name) %>
			</p>

			<p>
			  <strong>Channel:</strong>
			  <%= @post_content.channel.try(:name) %>
			</p>

			<%= link_to 'Edit', edit_post_content_path(@post_content) %> |
			<%= link_to 'Back', post_contents_path %>
		</div>
		<br>
	</div>
</div>
<br>
