<%= semantic_form_for @embed_code do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :link %>
    <%= f.input :duration %>
    <%= f.input :post_id, as: :select, collection: current_user.posts.pluck(:name, :id),
    	  selected: params[:post_id], prompt: 'Please Select' %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
