<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @embed_code.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @embed_code.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @embed_code.link %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @embed_code.duration %>
</p>

<%= link_to 'Edit', edit_embed_code_path(@embed_code) %> |
<%= link_to 'Back', embed_codes_path %>
