/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *import 'wice_grid';
 *@import "font-awesome-sprockets";
 *@import "font-awesome";
 *@import "foundation_and_overrides";
 *@import 'log-in-form';
 *@import 'statuses';
 *@import 'posts';
 *@import 'footer';
 *@import 'comments';
 *@import 'profiles';

 *= require wice_grid
 * require font-awesome-sprockets
 *= require foundation_and_overrides
 *= require select2
 *= require jquery-ui 
 *= require slick.css
 *= require jcarousel
 *= require slick-theme.css
 *= require_tree .
 *= require_self
 */

.header-section {
  // -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  // box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  position: fixed;
  z-index: 999;
  min-width: 100%;
}
body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.full-width {
	max-width: 100%;
}

.page-sidebar-container {
  background-color: #00a99d;
  height: 100%;
  position: fixed;
  width: 20%;
  z-index: 9000;
}
.page-sidebar {
  float: right;
  font-family: Questrial,"Helvetica Neue",Arial,Helvetica,sans-serif;
  height: 100%;
  width: 100px;
}

.page-content-container {
  margin-left: 20%;
  width: 80%;
}

.page-container {
  min-height: 100%;
}
.page-content {
  font-size: 16px;
  max-width: 670px;
  min-height: 100%;
  padding: 15px;
}
.pad-1{
  padding: 1em;
}
.top-bar {
  background: #fff !important;
}
.top-bar ul li > a {
  background-color: #008cba !important;
}
.top-bar ul {
  background-color: #fff !important;
}
.top-bar-section ul li > a {
  background-color: #fff !important;
  color: #008cba !important; 
}
.top-bar-section ul li.active > a {
  background-color: #008cba !important;
}
.top-bar-section ul li > a:hover {
  background: #008cba !important;
  color: #fff !important;
}
