// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-card {
	border: 1px solid #d7d7d7;
	margin-bottom: 1.5rem;
	box-shadow: 2px 4px 5px 0px #d7d7d7;
	.card-img {
    background-size: contain;
    img {
    	max-height: 131px;
    	text-align: center;
    }
	}
	.post-author {
		text-align: center;
	}
	.card-content {
		background: #fff;
		margin: 1.25rem;
		
		h4 {
			color: #CF000F;
		}
		p {
			color: #757D75;
		}
		a i {
			font-weight: 300;
			color: #757D75;
			margin: 0.5rem;
			padding: 5px 7px 5px 7px;
			border: 1px solid #757D75;
			border-radius: 50%;
		}
		img.post-icon {
			position: absolute;
			width: 3rem;
			border-radius: 50%;
			margin-top: -3rem;
		}
	}
}
.slick-prev::before, .slick-next::before {
  color: green !important;
}
.channel{
	rules{
		padding-left: 7px;
		border: 1px solid #ddd;
	}
	slider-nav{
		border: 1px solid #5cb767;
	}
}

$global-radius: 4px;
.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: $global-radius;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll hidden;
  top: 0;
  left: 0
}

.overlay-slide-in-left {
  
  img {
    transition: all 0.3s ease-in-out;
  }
  
  .image-overlay-content {
    background-color: white;
    //background-color: rgba(0,0,0,0.3);
    transform: translateX(-110%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px #ccc;
    text-color: black !important;
  }

  &:hover .image-overlay-content {
    transform: translateX(0px);
  } 

  &:hover img {
    transform: translateX(100%);
    transition-delay: 0.1s;
  }

  &:hover p {
    opacity: 1;
    transition-delay: 0.4s;
  }
}

