.full-width {
  max-width: 100%;
}
$text-color: #fff;
// footer CSS
.footer {
  background-color: skyblue;
  //background-color: #008cba;
  //background-color: #192451;
  //background-color: #534292;
  //background-color: #00a99d;
  //background-color: #282828;
  //background-color: #2980b9;
  padding: 2rem;
  //padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  bottom: 0em;
  i {
    font-size: 100px;
  }
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }

  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  min-height: 2em;
  //.columns:nth-child(n+2) {
    //border-left: 1px solid scale-color($text-color, $lightness: -30%);
    //min-height: 2em;
  //}
 }
}
.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
