// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  min-height: 35em;
  background-color: skyblue;
  //background-color: #008cba;
  .intro {
    padding-top: 5em;
  }
}
.share-icons img {
  display: inline-block;
  height: 37px;
  opacity: 1;
  width: 37px;
}
.homepage-marketing__consumers {
  background-color: #2e9fff;
  color: #fff;
  float: left;
  height: 500px;
  padding: 100px 0 70px;
  position: relative;
  width: calc(100% - 500px);
  z-index: 30;
}
.homepage-marketing__content {
  position: relative;
  z-index: 30;
}
.homepage-marketing__headline {
  font-size: 50px;
  line-height: 1.2em;
  max-width: 445px;
}

.homepage-marketing__publishers {
  background-color: #494e58;
  color: #fff;
  float: left;
  height: 500px;
  padding: 100px 0 70px 50px;
  position: relative;
  width: 500px;
}

.how-it-works{
  min-height: 35em;
  background: #FFF;
  padding-top: 1em;
  .contents{
    background: #FFF;
    padding-top: 1em; 
    border-radius: 3em 0 3em 0;
  }
}

/* Styles for search dropdown */

.search {
  position: relative;
  padding-top: 41px;
  margin-bottom: 0;
  input {
   padding-left: 240px;
  }
  .keyword {
    position: absolute;
    width: 100px;
    margin-left: 10px;
    margin-top: 17px;
  }
  i {
    position: absolute;
    margin-left: 207px;
    font-size: 30px;
    line-height: 50px;
    color: #ccc;
  }

  .search-field {
    height: 50px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #2ba6cb;;
    margin-left: 71px;
    margin-top: -10px;
  }
}

#drop3.content.open{
  position: absolute !important;
  top: 30px !important;
  left: -10px !important;
  width: 120% !important;
}

.cover {
  align-items: center;
  background-color: orange;
  //background-color: transparent;
  color: inherit;
  display: flex;
  margin-bottom: 0 !important;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  
  .cover-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/class-pro-cover.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.join-us-cover {
  align-items: center;
  background-color: transparent;
  color: inherit;
  margin-bottom: 0 !important;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;

  .student-cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/students-bk-cover.jpg');
    background-position: center center;
    background-size: 100% 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .mentor-cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/mentor-bk-cover.jpg');
    background-position: center center;
    background-size: 100% 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .school-cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/school-bk-cover.jpg');
    background-position: center center;
    background-size: 100% 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@media only screen and (max-width: 50em) { 
  .cover {
    align-items: center;
    background-color: transparent;
    color: inherit;
    display: flex;
    margin-bottom: 0 !important;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;

    .cover-image {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/class-pro-cover.jpg');
      background-position: center center;
      background-size: cover;
      min-height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  .welcome {
    min-height: 17em;
    background-color: skyblue;
    .intro {
      padding-top: 2em;
    }
  }
}
