// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-img {
  img {
    max-height: 250px;
  }
  background-size: contain;
}

.divide {
  padding: 5px;
  background-color: #FFF;
  border: 1px solid #ddd;
  &:hover {
    //background: #2e9fff;
    background: skyblue;
    a {
      color: white;
    }
  }
  
}

.round-img {
  width: 4rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #888888;
}
.margin-1{
  margin: 1rem -1rem 1rem 0rem;
}
.post-list{
  margin-bottom: 0.50em; 
  padding: 1em
}
.white-backgrnd{
  background-color: white;
}
.org-profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 1rem 0;
  img {
    width: 5rem;
    display: block;
    margin: 1rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
  }
  .profile-info {
    padding: 1rem;
    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    .inline-list {
      text-align: center;
      margin-bottom: 1rem;
      li {
        float: none;
        display: inline-block;
      }
      i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-github {
        font-size: 1.5rem;
        color: #333;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }  
    }
  }
}

.trending-post {
  height: 375px;
  width: 99%;
  overflow: auto;

}

.relatedWrapper{
  font-size: 12px;
  padding-top: 0.5em;
  border: 1px solid #ddd;
  p {
    font-size: 12px;
  }
}

.relatedHeader{
  background: #008cba none repeat scroll 0px 0px; 
  padding: 0.5em;
}

.post-rules {
  height: 220px;
  width: 99%;
  overflow: auto;
}

.user-stats {
  color: #7f919e;
  font-size: 12px;
  line-height: 1.2em;
  padding-bottom: 10px;
  text-align: center;
}

.bump{
  margin-top: 50px;
  padding-right: 30px;
  padding-left:30px;
}

.profile-card{
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  background: #2B2937;
  overflow:hidden;
  h4{
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    line-height:26px;
    span{
      font-size: 20px;
      color: #8C91A7;
      display: block;
    }
  }
  img{
    border-radius: 50%;
    border: 4px solid #69708C;
  }
  .button-group{
    width: 101%;
    .button{
      margin-bottom: 0;
      border-top: none;
      border-left: none;
      border-right: 2px solid #2B2937;
      border-bottom: none;
      background-color: #394165;
      height: 80px;
      padding-top: 15px;
      margin-top: 20px;
      font-weight:200;
      font-size: 16px;
      line-height: 26px;
      color: #8C91A7;
      box-shadow: none;
      span{
       display: block;
       font-size: 24px;
       font-weight: 600;
       color:#fff;
      }
    }
  }

  p{
    font-size: 16px;
    margin-bottom: 0;
    color: #8C91A7;
    }
  i{
    font-size: 26px;
    vertical-align:middle;
    padding-right: 5px;
    color: #394165;
  }
}
.sticky {
  position: relative;
  top: 0;
}

@media only screen and (max-width: 767px){
  .profile-card{
    img{
     margin-left:auto;
     margin-right:auto;
     width:40%;
    }
    h4, p{
      text-align: center;
    }
    .button-group .button{
      font-size: 14px;
      span{
        font-size: 20px
      }
    }
  }
}


.parallax-background {
  background-color: #2e9fff;
  height: 150px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
}



.intro-text {
  font-size: 30px;
  //background-color: blue;
  text-align: right;
}
.ch-us-img {
  img {
    position: absolute;
    z-index: 999;
  }
}


.parallax-content {
  max-width: 100%;
  position: relative;
  top: 155px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}

.home-page {
  background-color: #eff3fa;
}

@media only screen { 
  .mobile-width{
    width: 100%  
  }
}

.tags {
  a { 
    color: white !important;
  }
  &:hover {
    transform: scale(1.25);
    transition: all .5s ease-in-out;
  }
}
