// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
  text-align: center;
  background:  url('https://static.pexels.com/photos/6894/summer-photographer-pier-adventure-large.jpg') no-repeat center center;
  background-size: cover;
  padding: 4rem;
  .main-header {
    color: #666;
  }
}

.profile-header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0;
  li {
    float: none;
    display: inline-block;
    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      &.is-active {
        background: rgba(250,250,250,0.7);
        color: #333;
      }
      &:hover {
        background: rgba(250,250,250,0.7);
        color: #333;
        transition: all .25s ease-in-out;
      }
    }
  }
}