<% path = nil %>
<% if action_name == 'edit' %>
	<% path = achievement_path(id: @achievement.id) %>
<% end %>
<%= semantic_form_for @achievement, url: path do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.submit 'Submit', as: :input, class: 'button tiny radius success' %>
  <%= link_to 'Back', achievements_path %>
<% end %>
