<div style="padding: 1em">
  <h4>Listing Achievements</h4>
  <table role='grid'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @achievements.each do |achievement| %>
        <tr>
          <td><%= achievement.title %></td>
          <td><%= achievement.description %></td>
          <% if can? :update, achievement%>
            <td><%= link_to 'Show', achievement_path(@profile.user.user_name, achievement) %> | <%= link_to 'Edit', edit_achievement_path(@profile.user.user_name, achievement) %> | <%= link_to 'Destroy', achievement_path(@profile.user.user_name, achievement), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
