<div class='full-width panel'>
	<div class="row">
		<div class="white-backgrnd" style="border: 1px solid #ddd; border-radius: 5px">
			<%= render 'profiles/top_nav' %>	
		</div>	
		<br>
		<div class='white-backgrnd no-bullet' style="padding:1em;border: 1px solid #ddd; border-radius: 5px">
			<h3>Edit Achievement</h3>
			<div class='no-bullet'>
				<%= render 'form' %>
			</div>
		</div>
	</div>	
</div>
