<div class="panel full-width">
  <div class='row' >
    <div style='padding: 1em;'>
    <%= render 'profiles/top_nav'%>
    </div>
    <div class="white-backgrnd no-bullet" style="padding:1em;">
      <%= render 'index' %>
      <br>
      <%= link_to 'New Achievement', new_achievement_path, class: 'button tiny radius success' %>
    </div>
  </div>
</div>
