<div class='full-width'>
	<div class="row">
		<div class="pad-1">
			<%= render 'profiles/top_nav' %>	
		</div>	
		<div class='white-backgrnd no-bullet' style="padding:1em;border: 1px solid #ddd; border-radius: 5px">
			<h3>New Achievement</h3>
			<div class='no-bullet'>
				<%= render 'form' %>
			</div>
		</div>
	</div>	
</div>
