<p id="notice"><%= notice %></p>

<h1>Listing Post Category Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Post category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_category_images.each do |post_category_image| %>
      <tr>
        <td><%= post_category_image.name %></td>
        <td><%= post_category_image.description %></td>
        <td><%= post_category_image.post_category %></td>
        <td><%= link_to 'Show', post_category_image %></td>
        <td><%= link_to 'Edit', edit_post_category_image_path(post_category_image) %></td>
        <td><%= link_to 'Destroy', post_category_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post category image', new_post_category_image_path %>
