<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post_category_image.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_category_image.description %>
</p>

<p>
  <strong>Post category:</strong>
  <%= @post_category_image.post_category %>
</p>

<%= link_to 'Edit', edit_post_category_image_path(@post_category_image) %> |
<%= link_to 'Back', post_category_images_path %>
