<p id="notice"><%= notice %></p>

<h1>Listing Post Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody
    <% @post_images.each do |post_image| %>
      <tr>
        <td><%= post_image.name %></td>
        <td><%= post_image.description %></td>
        <td><%= post_image.try(:post).try(:name) %></td>
        <td><%= image_tag(post_image.try(:image).try(:small)) %></td>
        <td><%= link_to 'Show', post_image_path(post_image.post, post_image) %></td>
        <td><%= link_to 'Edit', edit_post_image_path(post_image.post, post_image) %></td>
        <td><%= link_to 'Destroy', post_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post image', new_post_image_path %>
