<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post_image.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_image.description %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post_image.post.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@post_image.image.small) %>
</p>

<%= link_to 'Edit', edit_post_image_path(@post_image) %> |
<%= link_to 'Back', post_images_path %>
