<header> 
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li><a href="#">One</a></li>
				<li><a href="#">Two</a></li>
				<li><a href="#">Three</a></li>
				<li><a href="#">Four</a></li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu">
				<li><input type="search" placeholder="Search"></li>
				<li><button type="button" class="button">Search</button></li>
			</ul>
		</div>
	</div>
	  
	<div class="row">
		<div class="medium-4 columns">
			<img src="http://placehold.it/450x183&text=LOGO" alt="company logo">
		</div>
		<div class="medium-8 columns">
			<img src="http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
		</div>
	</div>
	 
	<br>
	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle></button>
		<div class="title-bar-title">Menu</div>
	</div>
	<div class="top-bar" id="main-menu">
		<ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
			<li class="has-submenu"><a href="#">Tech</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
			<li class="has-submenu"><a href="#">Energy</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
			<li class="has-submenu"><a href="#">Space</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
			<li class="has-submenu"><a href="#">Medicine</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
			<li class="has-submenu"><a href="#">Robotics</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
			<li class="has-submenu"><a href="#">Tesla</a>
				<ul class="submenu menu vertical" data-submenu>
					<li><a href="#">One</a></li>
					<li><a href="#">Two</a></li>
					<li><a href="#">Three</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>
