<% if flash[:notice] || flash[:success] %>
	<p data-alert class='alert-box success radius text-center'> 
		<%= flash[:notice] || flash[:success]%>
		<a href='javascript:void(0)' class='close'>&times;</a>
	</p>
<% elsif flash[:warning] %>
	<p data-alert class='alert-box warning radius text-center'> 
		<%= flash[:warning]%>
		<a href='javascript:void(0)' class='close'>&times;</a>
	</p>
<% elsif flash[:error]%>
	<p data-alert class='alert-box failure radius text-center'> 
		<%= flash[:error]%>
		<a href='javascript:void(0)' class='close'>&times;</a>
	</p>
<% end %>
