<!-- Footer -->
%footer.footer
  .row.full-width
    .small-12.medium-3.large-4.columns
      Oogway
      About
    .small-12.medium-3.large-4.columns
      Blog
      Contact
    .small-12.medium-3.large-4.columns
      facebooklink
      tweeterlink
      gmailmailto
