.fixed
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    / Logo
    %ul.title-area
      %li.name
        %h1{:style => "font-family: Proxima Nova,proxima-nova;"}
          = link_to image_tag('ooggg.png', height: '30', width: '30'), root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "javascript:void(0)"}
          %span
    / Buttons
    %section.top-bar-section
      %ul.right
        %li
          %a{id: 'search_dialog', href: 'javascript:void(0)', 'data-reveal-id' =>"search_modal"} 
            %i.fa.fa-search 
            Search
          .reveal-modal.small#search_modal{'data-reveal' => '', 'aria-labelledby'=> 'modalTitle','aria-hidden'=>'true', role: 'dialog'}
            %a.close-reveal-modal{'aria-label'=>'Close'}
              &#215;
            %br
            %div
              = form_tag search_fetch_post_path do
                = text_field_tag :search, nil, {placeholder: 'Enter search term...'}
                = submit_tag 'Search', class: 'button tiny success'
        - if current_user 
          - if current_user.has_role?(:administrator)
            %li.has-dropdown
              %a{:href => "javascript:void(0)"} Administrator
              %ul.dropdown
                %li
                  = link_to 'Manage Posts', administrator_posts_path
                  = link_to 'Manage Post Types', administrator_channels_path
                  = link_to 'Manage Post Categories', administrator_post_categories_path
          %li
            = link_to "Add Channel", new_channel_path
          %li
            %a{"data-reveal-ajax" => "true", "data-reveal-id" => "channel_list", :href => list_channels_channels_path}
              Add Post
            #channel_list.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
          %li.has-dropdown
            %a{:href => "javascript:void(0)"} Account
            %ul.dropdown
              %li
                = link_to 'Manage Profile', profile_path(user_name: current_user.user_name || current_user)
                = link_to 'Messages', messages_path(user_name: current_user.user_name || current_user)
                = link_to "Logout", destroy_user_session_path,  :class => 'navbar-link'
        - else
          %li
            = link_to 'Help', help_path
          %li
            = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
          %li
            = link_to "Login", new_user_session_path, :class => 'navbar-link'
      %ul.left
        %li
          = link_to 'Explore Channels', explore_channels_path
        %li
          %a{"aria-controls" => "drop2", "aria-expanded" => "false", "data-dropdown" => "drop2"} Browse

          #drop2.f-dropdown.content{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
            %ul 
              - Array('A'..'Z').each do |char|
                %li= link_to char, browse_posts_path(char: char.downcase)
        %li
          = link_to user_signed_in? ? 'Home' : 'Post', posts_path
        
