<div class= 'fixed'>
	<nav class="top-bar" data-topbar role='navigation' >
		<!-- Logo  -->
		<ul class='title-area'>
			<li class='name'>
				<h1 class='push-1 columns'>
					<%= link_to 'OOGWAY', root_path %>
				</h1>
			</li>
			<li class='toggle-topbar menu-icon'>
				<a href='javascript:void(0)'><span></span></a>
			</li>
		</ul>
		<!-- Buttons -->
		<section class='top-bar-section'>
			<ul class='right'>
				<% if user_signed_in? %>
					<li>
	  				<%= link_to "Logout", destroy_user_session_path, class: 'navbar-link'  %>
	  			</li>
	  		<% else %>
	  			<li>
						<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
					</li>
					<li>
	  				<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	  			</li>
	  		<% end %>
			</ul>
		</section>
	</nav>
	<%= render 'layouts/flash' %>
</div>
