.row.search
  .small-12.columns
    .row.collapse
      / Search field
      .small-6.large-6.columns
        .ten-search
          = form_tag posts_path  do
            %input.search-field{:placeholder => "Search here ", :type => "text"}
