<div>
<ul class="no-bullet">
	<li>
		<%= link_to 'Home', posts_path%>
	</li>
	<li>
		<%= link_to 'Browse Channels', browse_channels_path, remote: true%>
	</li>
	<li>
		<%= link_to 'Manage Subscriptions', subscriptions_path%>
	</li>
</ul>
</div>
