- if !user_signed_in? && controller_name != 'registrations' && controller_name != 'sessions' && controller_name != 'channels' && controller_name != 'home'
  = stylesheet_link_tag 'roundable/style.css'
  %link{href:"/assets/roundable/style.css", media:"screen" ,rel: "stylesheet"}
  %script{src: "/assets/roundable/roundabout.js"}
  %script{src: "/assets/scroll_deck/jquery.easing.1.3.js"}

  :javascript
    $(document).ready(function(){
      $('#carousel').roundabout({
        minScale:0.8,
        childSelector:"li",
        autoplay:true,
        autoplayDuration:2000
     });

    });

  #carouse-wrap.row
    %ul#carousel.top_slider.roundabout-holder
      %li
        %span
          %a.view-project-button{:href => "#"} View Project
        = image_tag('oogway_head.jpg', class: 'th slide', style: 'background: lightblue;')
      %li
        %span
          %a.view-project-button{:href => "#"} View Project
        = image_tag('shareLogo.png', class: 'th slide', width: 746, height: 324)
      %li
        %span
          %a.view-project-button{:href => "#"} View Project
        = image_tag('helpLogo.jpeg', class: 'th slide')
      %li
        %span
          %a.view-project-button{:href => "#"} View Project
        = image_tag('scholarLogo.jpg', class: 'th slide', width: 746, height: 324)
      %li
        %span
          %a.view-project-button{:href => "#"} View Project
        = image_tag('better_worldLogo.jpg', class: 'th', width: 746, height: 324)
-# if !user_signed_in? && controller_name != 'registrations' && controller_name != 'sessions' && controller_name != 'channels'
  %br
  %ul.round-about
    %li{"data-orbit-slide" => "headline-1"}
      / .intro
      .large-12.columns
        = image_tag('oogway_head.jpg', class: 'th')
        / .large-7.columns
        / is a community for people just like you,
        / helping and learning from each other and trying to build 
        / a better world. 
        / %ul.no-bullet
        / %li O is for openness, it's refreshing!
        / %li O is for ornate, nothing plain here!
        / %li G is for grace, an admirable trait!
        / %li W is for wisdom, you acquire with age.
        / %li A is for able, for you surely are.
        / %li Y is for youthful, your eternal look.
        / Join Oogway to...
    %li{"data-orbit-slide" => "headline-2"}
      .large-12.columns
        / = image_tag('oogway_head.jpg', class: 'th')
        = image_tag('shareLogo.png', class: 'th', width: 746, height: 324)
      / .large-7.columns
      / Share your knowledge
    %li{"data-orbit-slide" => "headline-3"}
      .large-12.columns
        / = image_tag('oogway_head.jpg', class: 'th')
        / = image_tag('shareLogo.png', class: 'th', width: 746, height: 324)
        = image_tag('helpLogo.jpeg', class: 'th', width: 746, height: 324)
      / .large-7.columns
      / Help your peers.
    %li{"data-orbit-slide" => "headline-4"}
      .large-12.columns
        / = image_tag('oogway_head.jpg', class: 'th')
        / = image_tag('shareLogo.png', class: 'th', width: 746, height: 324)
        / = image_tag('helpLogo.jpeg', class: 'th', width: 746, height: 324)
        = image_tag('scholarLogo.jpg', class: 'th', width: 746, height: 324)
      / .large-7.columns
      / Get recognized.
    %li{"data-orbit-slide" => "headline-5"}
      .large-12.columns
        / = image_tag('oogway_head.jpg', class: 'th')
        / = image_tag('shareLogo.png', class: 'th', width: 746, height: 324)
        / = image_tag('helpLogo.jpeg', class: 'th', width: 746, height: 324)
        / = image_tag('scholarLogo.jpg', class: 'th', width: 746, height: 324)
        = image_tag('better_worldLogo.jpg', class: 'th', width: 746, height: 324)
      / .large-7.columns
      / build a better world

