<div>
		<!-- <div class="row small-up-3">
			<div class="column text-center">
				<i class="fi-social-facebook"></i>
				<h6>56,009</h6>
				<p><small>FOLLOWERS</small></p>
				<br>
			</div>
			<div class="column text-center">
				<i class="fi-social-twitter"></i>
				<h6>76,905</h6>
				<p><small>FOLLOWERS</small></p>
				<br>
			</div>
			<div class="column text-center">
				<i class="fi-social-instagram"></i>
				<h6>34,099</h6>
				<p><small>FOLLOWERS</small></p>
				<br>
			</div>
			<div class="column text-center">
				<i class="fi-social-tumblr"></i>
				<h6>13,765</h6>
				<p><small>FOLLOWERS</small></p>
			</div>
			<div class="column text-center">
				<i class="fi-social-pinterest"></i>
				<h6>9,283</h6>
				<p><small>FOLLOWERS</small></p>
			</div>
			<div class="column text-center">
				<i class="fi-social-youtube"></i>
				<h6>99,000</h6>
				<p><small>FOLLOWERS</small></p>
			</div>
		</div> -->
		<!-- <div class="panel">
			<p>
				Share your knowledge.
				<br/>
				<% if user_signed_in? %>
				 	<%= link_to 'New Way', new_post_path, class: 'button small' %>
				<% else %>
					<br>
					It free and it takes only 2 minutes.
					<%= link_to "Sign up", new_user_registration_path, class: 'button tiny'  %>  
					<%= link_to "Login", new_user_session_path, class: 'button tiny' %>
				<% end %>
			</p>
		</div> -->

		<div class="panel"  style="background-color: #00a99d; ">
			<p class='text-center' style='color: #fff; text:center'>
				Have an Way share it.
			</p>
			<%= link_to "Add Channel", channels_path, class: 'button tiny',style: "background-color: #00a99d; box-shadow: 0 0 1px 0 rgba(#fff);" %>
			<%= link_to "Add Way", new_post_path, class: 'button tiny',style: "margin: 1em;background-color: #00a99d;box-shadow: 0 0 1px 0 rgba(#fff);"  %>
		</div>
		
		<!-- <div class="row column trending-post">
			<p class="lead">TRENDING POSTS</p>
			<div class="media-object">
				<div class="media-object-section">
					<%= image_tag('deep4.jpg', height: '150', width: '250')%>
				</div>
				<div class="media-object-section">
					<h5>All I need is a space suit and I'm ready to go.</h5>
				</div>
			</div>
			<div class="media-object">
				<div class="media-object-section">
					<%= image_tag('deep2.jpg', height: '150', width: '250')%>
				</div>
				<div class="media-object-section">
					<h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
				</div>
			</div>
			<div class="media-object">
				<div class="media-object-section">
					<%= image_tag('deep3.jpg', height: '150', width: '250')%>
				</div>
				<div class="media-object-section">
					<h5>And the world keeps spinning.</h5>
				</div>
			</div>
			<div class="media-object">
				<div class="media-object-section">
					<%= image_tag('deep4.jpg', height: '150', width: '250')%>
				</div>
				<div class="media-object-section">
					<h5>Cold hearted orb that rules the night.</h5>
				</div>
			</div>
		</div> -->
</div>