<div class="row">
	<div class="medium-8 columns ">
		<!-- <img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"> -->
		<!-- <iframe width="360" height="150" src="https://www.youtube.com/embed/ihNZlp7iUHE?list=PLAD5B880806EBE0A4&theme=light&showinfo=0&rel=0&modestbranding=0" frameborder="0" allowfullscreen></iframe> -->
	</div>
	<div class="medium-4 columns">
		<p>
			Share your knowledge.
			<br/>
			<% if user_signed_in? %>
			 	<%= link_to 'New Post', new_post_path, class: 'button' %>
			<% else %>
				<br>
				It free and it takes only 2 minutes.
				<%= link_to "Sign up", new_user_registration_path, class: 'button'  %>  
				<%= link_to "Login", new_user_session_path, class: 'button' %>
			<% end %>
			<% if user_signed_in? %>
				<% if current_user.id == @post.try(:user_id) %>
					Subscriber's Count 100		
				<% else %>
					<%= link_to 'Subcribe', '#', class: 'button' %>
				<% end %>
			<% else %>
				<%= form_for(Subscription.new, url: subscriptions_path, remote: true, method: :post) do |f| %>
					<div class='row collapse'>
						<div class="small-8 medium-8 columns">
							<%= f.text_field :email %>
							<%= f.hidden_field :subscribe, value: true %>
						</div>
						<div class='small-1 medium-1 columns'></div>
						<div class='small-3 medium-3 columns'>
							<%= submit_tag 'Subscribe' %>
						</div>
					</div>
				<%end%>
			<%end%>
		</p>
	</div>
</div>