<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "Oogway" %>
    </title>
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class='top-section'>
      <%= render 'layouts/header' %>
      <% #= render 'layouts/sign_up_header' 
      %>
    </section>
    <%= render 'layouts/flash' %>
    <section class='body-section' style="background: #eff3fa; min-height: 510px;position: relative;">
      <%= yield %> 
    </section>
    <section class='footer-section'>
      <%= render 'layouts/footer' %>
    </section>
  </body>
</html>
