.row
  = form_for [@class, @member] do |f|
    - if @member.errors.any?
      #error_explanation
        %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
        %ul
          - @member.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :user
      = @member.user.user_name || 'Name not yet added'
    .field
      = f.label :status
      = f.check_box :status
    .field
      = f.label :end_date
      = f.input :end_date, as: :date_picker, placeholder: "Format YYYY-MM-DD", maxlength: 20, label: 'End date'
    .field
      = f.label :block
      = f.check_box :block
    .field
      = f.label :klass
      = @member.klass.title
    .field
      = f.label :remarks
      = f.text_field :remarks
    .actions
      = f.submit 'Save'
      = link_to 'Cancel', [@class, :members]
