.row
  %h1 Listing members

  %table
    %thead
      %tr
        %th User
        %th Status
        %th End date
        %th Block
        %th Klass
        %th Remarks
        %th
        %th
        %th

    %tbody
      - @members.each do |member|
        %tr
          %td= member.user.user_name || 'Name not yet added'
          %td= member.status
          %td= member.end_date
          %td= member.block
          %td= member.klass.fetch_title
          %td= member.remarks
          %td= link_to 'Show', [@class, member]
          %td= link_to 'Edit', [:edit, @class, member]
          %td= link_to 'Destroy', [@class, member], :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Member', [:new, @class, :member]
