.row
  %p
    %b User:
    = @member.user
  %p
    %b Status:
    = @member.status
  %p
    %b End date:
    = @member.end_date
  %p
    %b Block:
    = @member.block
  %p
    %b Klass:
    = @member.klass
  %p
    %b Remarks:
    = @member.remarks

  = link_to 'Edit', [:edit, @class, @member]
  \|
  = link_to 'Back', [@class, :members]
