%ul.large-block-grid-4
	- classes.each do |klass|
		%li
			.container
				.text-center= klass.fetch_title
				= image_tag(klass.avatar, class: 'th')
			.author
				%header Author: #{klass.user.user_name}
				Total Students: #{klass.members.count}
			.actions
				= link_to 'Check details', klass
				- unless current_user.member?(klass.id)
					= link_to 'Join', [:join, klass], method: :post
