= semantic_form_for @klass do |f|
  = f.input :title, as: :string, label: false, placeholder: 'Name'
  = f.input :description, as: :text, label: false, placeholder: 'Description'
  = f.input :code, as: :string, label: false, placeholder: 'Code'
  = f.input :capacity, as: :number, label: false, placeholder: 'Capacity', input_html: { min: 1 }
  = f.input :avatar, as: :file
  = f.submit 'Save', class: 'button radius tiny success'
  = link_to 'Cancel', klasses_path, class: 'button tiny radius secondary'
