.full-width.panel
  .row.white-backgrnd.pad-1
    %h1 Listing klasses

    %table
      %thead
        %tr
          %th Title
          %th Description
          %th Code
          %th Mentor
          %th Capacity
          %th
          %th
          %th

      %tbody
        - @klasses.each do |klass|
          %tr
            %td= klass.title
            %td= klass.description
            %td= klass.code
            %td= klass.user.profile.try(:full_name)
            %td= klass.capacity
            %td= link_to 'Show', klass
            - if can? :update, klass
              %td= link_to 'Edit', edit_klass_path(klass)
              %td= link_to 'Destroy', klass, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Klass', new_klass_path, class: 'button tiny radius'
  %br
  .row.pad-1
    %ul.large-block-grid-4
      - @klasses.each do |klass|
        %li
          %article.article-card.white-backgrnd
            %img{src: (klass.try(:avatar) || 'assets/no-image.jpg'), width: 250}
            .card-content
              %post-author
                %small 
                  By
                  %a{href: 'javascript:void(0)'}= klass.user.email
                %h6
                  %a{href: klass_path(klass)}= klass.fetch_title
              .content
                = raw klass.description[0..100]
              %h6 
                Total members: #{klass.members.count}
              %a{href: klass_path(klass)} Details...
