.row
  %header
    %h4
      = @klass.fetch_title
      %small
        - if can? :update, @klass
          = link_to '', edit_klass_path(@klass), class: 'fa fa-pencil-square-o'
          = link_to 'Add Assignment', [:new, @klass, :assignment]
  
  .avatar.right
    = image_tag(@klass.try(:avatar), height: '150', width: '180', class: 'th')
  .description
    = raw @klass.description
  .code
    %b Code:
    = @klass.code
  .author
    %b Mentor:
    = @klass.user.profile.try(:full_name)
    %div
      = link_to 'Join Class', join_klass_path(id: @klass.slug), method: :post, class: 'button tiny radius success'
  = link_to 'Back', klasses_path, class: 'button tiny radius secondary'
  = link_to 'Class Assignments', [@klass, :assignments]
  
